In [4]:
# import pyodbc
import re

# Define a function to connect to SQL Server and fetch table metadata
def get_table_metadata(server, database, username, password):
    conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'
    conn = pyodbc.connect(conn_str)
    cursor = conn.cursor()

    # Fetch metadata for all tables
    tables_metadata = {}
    cursor.execute("SELECT TABLE_NAME, COLUMN_NAME, DATA_TYPE FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_SCHEMA = 'dbo'")
    for row in cursor.fetchall():
        table_name = row.TABLE_NAME
        column_name = row.COLUMN_NAME
        data_type = row.DATA_TYPE
        if table_name not in tables_metadata:
            tables_metadata[table_name] = []
        tables_metadata[table_name].append({'name': column_name, 'type': data_type})

    conn.close()
    return tables_metadata

# Function to identify specific columns
def identify_columns(metadata):
    identification_results = {}
    for table, columns in metadata.items():
        identification_results[table] = {}
        for column in columns:
            column_name = column['name']
            column_type = column['type']
            # Use regular expressions to identify specific columns
            if re.search(r'\b(?:name)\b', column_name, re.IGNORECASE):
                identification_results[table][column_name] = 'Name'
            elif re.search(r'\b(?:address)\b', column_name, re.IGNORECASE):
                identification_results[table][column_name] = 'Address'
            elif re.search(r'\b(?:dob|birthdate|dateofbirth)\b', column_name, re.IGNORECASE):
                identification_results[table][column_name] = 'DOB'
            elif re.search(r'\b(?:phone|mobile|contact)\b', column_name, re.IGNORECASE):
                identification_results[table][column_name] = 'Phone Number'

    return identification_results

def identify_columns_Count(metadata):
    identification_results_count = {'Name': 0, 'Address': 0, 'DOB': 0, 'Phone Number': 0}
    for table, columns in metadata.items():
        for column in columns:
            column_name = column['name']
            column_type = column['type']
            # Use regular expressions to identify specific columns
            if re.search(r'\b(?:name)\b', column_name, re.IGNORECASE):
                identification_results_count['Name'] += 1
            elif re.search(r'\b(?:address)\b', column_name, re.IGNORECASE):
                identification_results_count['Address'] += 1
            elif re.search(r'\b(?:dob|birthdate|dateofbirth)\b', column_name, re.IGNORECASE):
                identification_results_count['DOB'] += 1
            elif re.search(r'\b(?:phone|mobile|contact)\b', column_name, re.IGNORECASE):
                identification_results_count['Phone Number'] += 1

    return identification_results_count

def get_count_metadata(server, database, username, password):
    conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'
    conn = pyodbc.connect(conn_str)
    cursor = conn.cursor()

    # Fetch metadata for all tables
    tables_metadata = {}
    cursor.execute("SELECT TABLE_NAME, COLUMN_NAME, DATA_TYPE FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_SCHEMA = 'dbo'")
    for row in cursor.fetchall():
        table_name = row.TABLE_NAME
        column_name = row.COLUMN_NAME
        data_type = row.DATA_TYPE
        if table_name not in tables_metadata:
            tables_metadata[table_name] = []
        tables_metadata[table_name].append({'name': column_name, 'type': data_type})

    conn.close()
    return tables_metadata

# Example usage
server = 'dmoncloud-sqlserver.database.windows.net'
database = 'SRC'
username = 'nishchay'
password = 'Welcome@2o23!'

metadata = get_table_metadata(server, database, username, password)
identification_results = identify_columns(metadata)

metadata_Count= get_count_metadata(server, database, username, password)
identification_results_count = identify_columns_Count(metadata_Count)

# Print the identification results
for table, columns in identification_results.items():
    print(f'\nTable: {table}')
    for column, identifier in columns.items():
        print(f'Column: {column} -> {identifier}')
        
print("\nSummary of columns:")
for identifier, count in identification_results_count.items():
    print(f'{identifier}: {count}')

Table: N_ProductSubcategory

Table: Updated_phone_number

Table: Nis_ODBC2

Table: InsuranceData

Table: Department_group

Table: stg_insuranceData

Table: DW_Employee_SRC
Column: BirthDate -> DOB
Column: Phone -> Phone Number

Table: stage_insuranceData_SCD2

Table: CustomerOrders_YCOPY
Column: NAME -> Name

Table: SuppliesData

Table: Row_Count_Monitor

Table: Datacustomer
Column: BirthDate -> DOB
Column: Phone -> Phone Number

Table: TempCustomerOrders_Y
Column: NAME -> Name

Table: check_data
Column: BirthDate -> DOB
Column: Phone -> Phone Number

Table: DifferingRows
Column: NAME -> Name

Table: N_Product

Table: QUARTERLY_SALES

Table: EMP_SALES_QTR

Table: TOTALAMOUNT

Table: WEEKLY_SALES_BY_STORE

Table: Y_IndianHolidays

Table: Y_Table_Count

Table: Nandini_Insurance_Data

Table: tablesrowcount_N

Table: Nandu

Table: Nanditha_EMP
Column: NAME -> Name

Table: check_customer
Column: BirthDate -> DOB
Column: Phone -> Phone Number

Table: anu_table
Column: name -> Name
Column: address -> Address
Column: phone -> Phone Number

Table: Insurance_Data

Table: Employee_count_history

Table: Dl_lnd_Customer
Column: BirthDate -> DOB
Column: Phone -> Phone Number

Table: StagingTable

Table: Department

Table: Dl_stg_Customer
Column: BirthDate -> DOB
Column: Phone -> Phone Number

Table: YourResultTableName

Table: stg_insuranceData_SCD2

Table: Nan

Table: Dl_lnd_InsuranceData

Table: Anu_stg_insuranceData_SCD2

Table: Nis_ODBC5

Table: DL_Stg_Insurance

Table: Yash_ActiveEmployee_12142023
Column: Phone -> Phone Number

Table: Anu_InsuranceData

Table: Anu_stg_insuranceData

Table: DL_Lnd_InsurancePolicy

Table: BI_ProductCategory

Table: BI_Stg_FoodSales

Table: Differ_table2

Table: DW_Stg_Supplies1

Table: Book_Table

Table: DW_Department_SRC

Table: FOOD_Table
Column: name -> Name

Table: Differed_table

Table: Supplies_Data_2

Table: Nandini_books

Table: food_xml_info
Column: name -> Name

Table: BOOK_xml_info

Table: BI_Lnd_FoodSales

Table: xml_Nis

Table: BI_Product

Table: BI_ProductSubcategory

Table: NANDINI_FOOD
Column: name -> Name

Table: final_insuranceData_SCD2

Table: ODS_ENHANCED_TRANSACTION

Table: BOOK_xml_Nis

Table: GenericAssignment

Table: DimDate2

Table: FOOD_xml_Nis
Column: name -> Name

Table: nandini_foods
Column: name -> Name

Table: Lnddd_FoodSales

Table: CustomerOrders_Y
Column: NAME -> Name

Table: ODS_Nanditha_ENHANCED_TRANSACTION

Table: Count_Table

Table: BI_Lndd_FoodSales

Table: Dim_date

Table: ORDERS

Table: Employee_SRC
Column: BirthDate -> DOB
Column: Phone -> Phone Number

Table: N_EMPLOYEE

Table: comparision_result

Table: nandini_insurance

Table: nandu_books

Table: Y_EMP
Column: NAME -> Name

Table: nandu_foods
Column: name -> Name

Table: tablesrowcount

Table: GenericAssignment_New

Table: Normalizer_Table
Column: Name -> Name
Column: DOB -> DOB

Table: nan_insurance

Table: dw_lnd_suppliesData

Summary of columns:
Name: 14
Address: 1
DOB: 8
Phone Number: 9

In [3]:
import pyodbc
import re
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

# Define a function to connect to SQL Server and fetch table metadata
def get_table_metadata(server, database, username, password):
    conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'
    conn = pyodbc.connect(conn_str)
    cursor = conn.cursor()

    # Fetch metadata for all tables
    tables_metadata = {}
    cursor.execute("SELECT TABLE_NAME, COLUMN_NAME, DATA_TYPE FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_SCHEMA = 'dbo'")
    for row in cursor.fetchall():
        table_name = row.TABLE_NAME
        column_name = row.COLUMN_NAME
        data_type = row.DATA_TYPE
        if table_name not in tables_metadata:
            tables_metadata[table_name] = []
        tables_metadata[table_name].append({'name': column_name, 'type': data_type})

    conn.close()
    return tables_metadata

# Function to identify specific columns with enhanced features
def identify_columns(metadata, custom_rules=None):
    identification_results = {}
    for table, columns in metadata.items():
        identification_results[table] = {}
        for column in columns:
            column_name = column['name']
            column_type = column['type']
            # Use regular expressions to identify specific columns
            identifier = identify_column_name(column_name, custom_rules)
            if identifier:
                identification_results[table][column_name] = identifier

    return identification_results

# Function to identify column name based on custom rules and fuzzy matching
def identify_column_name(column_name, custom_rules=None):
    if custom_rules:
        # Apply custom rules for column identification
        for identifier, patterns in custom_rules.items():
            for pattern in patterns:
                if re.search(pattern, column_name, re.IGNORECASE):
                    return identifier
    
    # Fuzzy matching for additional flexibility
    matches = process.extract(column_name.lower(), ["name", "address", "dob", "phone number"], scorer=fuzz.token_sort_ratio)
    best_match = max(matches, key=lambda x: x[1])
    if best_match[1] > 80:  # Adjust threshold as needed
        return best_match[0].title().replace(" ", "")
    
    return None

# Example usage
server = 'dmoncloud-sqlserver.database.windows.net'
database = 'SRC'
username = 'nishchay'
password = 'Welcome@2o23!'

# Custom rules for column identification (optional)
custom_rules = {
    'Name': ['name'],
    'Address': ['address'],
    'DOB': ['dob', 'birthdate', 'dateofbirth'],
    'Phone Number': ['phone', 'mobile', 'contact']
}

metadata = get_table_metadata(server, database, username, password)
identification_results = identify_columns(metadata, custom_rules)

# Print the identification results
for table, columns in identification_results.items():
    print(f'\nTable: {table}')
    for column, identifier in columns.items():
        print(f'Column: {column} -> {identifier}')

C:\Users\Nischay\songs\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

Table: N_ProductSubcategory
Column: EnglishProductName -> Name
Column: SpanishProductName -> Name
Column: FrenchProductName -> Name

Table: Updated_phone_number
Column: Phone_Number -> Phone Number
Column: TransformedPhoneNumbe -> Phone Number

Table: Nis_ODBC2

Table: InsuranceData

Table: Department_group
Column: Departmentgroupname -> Name

Table: stg_insuranceData

Table: DW_Employee_SRC
Column: FirstName -> Name
Column: LastName -> Name
Column: MiddleName -> Name
Column: NameStyle -> Name
Column: BirthDate -> DOB
Column: EmailAddress -> Address
Column: Phone -> Phone Number
Column: EmergencyContactName -> Name
Column: EmergencyContactPhone -> Phone Number
Column: DepartmentName -> Name

Table: stage_insuranceData_SCD2

Table: CustomerOrders_YCOPY
Column: NAME -> Name

Table: SuppliesData

Table: Row_Count_Monitor
Column: Table_Name -> Name

Table: Datacustomer
Column: FirstName -> Name
Column: MiddleName -> Name
Column: LastName -> Name
Column: NameStyle -> Name
Column: BirthDate -> DOB
Column: EmailAddress -> Address
Column: AddressLine1 -> Address
Column: AddressLine2 -> Address
Column: Phone -> Phone Number

Table: TempCustomerOrders_Y
Column: NAME -> Name

Table: check_data
Column: FirstName -> Name
Column: MiddleName -> Name
Column: LastName -> Name
Column: NameStyle -> Name
Column: BirthDate -> DOB
Column: EmailAddress -> Address
Column: AddressLine1 -> Address
Column: AddressLine2 -> Address
Column: Phone -> Phone Number

Table: DifferingRows
Column: NAME -> Name

Table: N_Product
Column: EnglishProductName -> Name
Column: SpanishProductName -> Name
Column: FrenchProductName -> Name

Table: QUARTERLY_SALES
Column: EMP_NAME -> Name

Table: EMP_SALES_QTR

Table: TOTALAMOUNT

Table: WEEKLY_SALES_BY_STORE

Table: Y_IndianHolidays

Table: Y_Table_Count
Column: Table_Name -> Name

Table: Nandini_Insurance_Data

Table: tablesrowcount_N
Column: tablename -> Name

Table: Nandu

Table: Nanditha_EMP
Column: NAME -> Name

Table: check_customer
Column: FirstName -> Name
Column: MiddleName -> Name
Column: LastName -> Name
Column: NameStyle -> Name
Column: BirthDate -> DOB
Column: EmailAddress -> Address
Column: AddressLine1 -> Address
Column: AddressLine2 -> Address
Column: Phone -> Phone Number

Table: anu_table
Column: name -> Name
Column: address -> Address
Column: phone -> Phone Number

Table: Insurance_Data

Table: Employee_count_history
Column: Table_name -> Name

Table: Dl_lnd_Customer
Column: FirstName -> Name
Column: MiddleName -> Name
Column: LastName -> Name
Column: NameStyle -> Name
Column: BirthDate -> DOB
Column: EmailAddress -> Address
Column: AddressLine1 -> Address
Column: AddressLine2 -> Address
Column: Phone -> Phone Number

Table: StagingTable

Table: Department
Column: DepartmentGroupName -> Name

Table: Dl_stg_Customer
Column: FirstName -> Name
Column: MiddleName -> Name
Column: LastName -> Name
Column: NameStyle -> Name
Column: BirthDate -> DOB
Column: EmailAddress -> Address
Column: AddressLine1 -> Address
Column: AddressLine2 -> Address
Column: Phone -> Phone Number

Table: YourResultTableName
Column: DepartmentGroupName -> Name

Table: stg_insuranceData_SCD2

Table: Nan

Table: Dl_lnd_InsuranceData

Table: Anu_stg_insuranceData_SCD2

Table: Nis_ODBC5

Table: DL_Stg_Insurance

Table: Yash_ActiveEmployee_12142023
Column: Full_Name -> Name
Column: Outlet_Name -> Name
Column: Phone -> Phone Number

Table: Anu_InsuranceData

Table: Anu_stg_insuranceData

Table: DL_Lnd_InsurancePolicy

Table: BI_ProductCategory
Column: EnglishProductCategoryName -> Name
Column: SpanishProductCategoryName -> Name
Column: FrenchProductCategoryName -> Name

Table: BI_Stg_FoodSales

Table: Differ_table2
Column: DepartmentGroupName -> Name

Table: DW_Stg_Supplies1

Table: Book_Table

Table: DW_Department_SRC
Column: DepartmentGroupName -> Name

Table: FOOD_Table
Column: name -> Name

Table: Differed_table
Column: DW_Departmentgroupname -> Name
Column: DepartmentGroupName -> Name

Table: Supplies_Data_2

Table: Nandini_books

Table: food_xml_info
Column: name -> Name

Table: BOOK_xml_info

Table: BI_Lnd_FoodSales

Table: xml_Nis

Table: BI_Product
Column: EnglishProductName -> Name
Column: SpanishProductName -> Name
Column: FrenchProductName -> Name
Column: ModelName -> Name

Table: BI_ProductSubcategory
Column: EnglishProductSubcategoryName -> Name
Column: SpanishProductSubcategoryName -> Name
Column: FrenchProductSubcategoryName -> Name

Table: NANDINI_FOOD
Column: name -> Name

Table: final_insuranceData_SCD2

Table: ODS_ENHANCED_TRANSACTION
Column: EMPLOYEE_NAME -> Name
Column: TRIM_EMPLOYEE_NAME -> Name

Table: BOOK_xml_Nis

Table: GenericAssignment

Table: DimDate2

Table: FOOD_xml_Nis
Column: name -> Name

Table: nandini_foods
Column: name -> Name

Table: Lnddd_FoodSales

Table: CustomerOrders_Y
Column: NAME -> Name

Table: ODS_Nanditha_ENHANCED_TRANSACTION
Column: EMPLOYEE_NAME -> Name
Column: TRIM_EMPLOYEE_NAME -> Name

Table: Count_Table
Column: DepartmentGroupName -> Name

Table: BI_Lndd_FoodSales

Table: Dim_date

Table: ORDERS

Table: Employee_SRC
Column: FirstName -> Name
Column: LastName -> Name
Column: MiddleName -> Name
Column: NameStyle -> Name
Column: BirthDate -> DOB
Column: EmailAddress -> Address
Column: Phone -> Phone Number
Column: EmergencyContactName -> Name
Column: EmergencyContactPhone -> Phone Number
Column: DepartmentName -> Name

Table: N_EMPLOYEE
Column: FIRST_NAME -> Name
Column: LAST_NAME -> Name
Column: PHONE_NUMBER -> Phone Number

Table: comparision_result
Column: COLUMN_NAME -> Name

Table: nandini_insurance

Table: nandu_books

Table: Y_EMP
Column: NAME -> Name

Table: nandu_foods
Column: name -> Name

Table: tablesrowcount
Column: tablename -> Name

Table: GenericAssignment_New
Column: DepartmentGroupName -> Name

Table: Normalizer_Table
Column: Name -> Name
Column: New_Address -> Address
Column: DOB -> DOB

Table: nan_insurance

Table: dw_lnd_suppliesData

In [5]:
import pyodbc
import re
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

# Define a function to connect to SQL Server and fetch table metadata
def get_table_metadata(server, database, username, password):
    conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'
    conn = pyodbc.connect(conn_str)
    cursor = conn.cursor()

    # Fetch metadata for all tables
    tables_metadata = {}
    cursor.execute("SELECT TABLE_NAME, COLUMN_NAME, DATA_TYPE FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_SCHEMA = 'dbo'")
    for row in cursor.fetchall():
        table_name = row.TABLE_NAME
        column_name = row.COLUMN_NAME
        data_type = row.DATA_TYPE
        if table_name not in tables_metadata:
            tables_metadata[table_name] = []
        tables_metadata[table_name].append({'name': column_name, 'type': data_type})

    conn.close()
    return tables_metadata

# Function to identify specific columns with enhanced features
def identify_columns(metadata, custom_rules=None):
    identification_results = {}
    for table, columns in metadata.items():
        identification_results[table] = {}
        for column in columns:
            column_name = column['name']
            column_type = column['type']
            # Use regular expressions to identify specific columns
            identifier = identify_column_name(column_name, custom_rules)
            if identifier:
                identification_results[table][column_name] = identifier

    return identification_results

# Function to identify column name based on custom rules and fuzzy matching
def identify_column_name(column_name, custom_rules=None):
    if custom_rules:
        # Apply custom rules for column identification
        for identifier, patterns in custom_rules.items():
            for pattern in patterns:
                if re.search(pattern, column_name, re.IGNORECASE):
                    return identifier
    
    # Fuzzy matching for additional flexibility
    matches = process.extract(column_name.lower(), ["name", "address", "dob", "phone number"], scorer=fuzz.token_sort_ratio)
    best_match = max(matches, key=lambda x: x[1])
    if best_match[1] > 80:  # Adjust threshold as needed
        return best_match[0].title().replace(" ", "")
    
    return None

# Function to count identified columns for each category
def identify_columns_count(metadata):
    identification_results_count = {'Name': 0, 'Address': 0, 'DOB': 0, 'Phone Number': 0}
    for table, columns in metadata.items():
        for column in columns:
            column_name = column['name']
            column_type = column['type']
            # Use regular expressions to identify specific columns
            if re.search(r'\b(?:name)\b', column_name, re.IGNORECASE):
                identification_results_count['Name'] += 1
            elif re.search(r'\b(?:address)\b', column_name, re.IGNORECASE):
                identification_results_count['Address'] += 1
            elif re.search(r'\b(?:dob|birthdate|dateofbirth)\b', column_name, re.IGNORECASE):
                identification_results_count['DOB'] += 1
            elif re.search(r'\b(?:phone|mobile|contact)\b', column_name, re.IGNORECASE):
                identification_results_count['Phone Number'] += 1

    return identification_results_count

# Function to get metadata with count for each column category
def get_metadata_with_count(server, database, username, password):
    metadata = get_table_metadata(server, database, username, password)
    identification_results_count = identify_columns_count(metadata)
    return metadata, identification_results_count

# Example usage
server = 'dmoncloud-sqlserver.database.windows.net'
database = 'SRC'
username = 'nishchay'
password = 'Welcome@2o23!'

# Custom rules for column identification (optional)
custom_rules = {
    'Name': ['name'],
    'Address': ['address'],
    'DOB': ['dob', 'birthdate', 'dateofbirth'],
    'Phone Number': ['phone', 'mobile', 'contact']
}

metadata, identification_results_count = get_metadata_with_count(server, database, username, password)
identification_results = identify_columns(metadata, custom_rules)

# Print the identification results
for table, columns in identification_results.items():
    print(f'\nTable: {table}')
    for column, identifier in columns.items():
        print(f'Column: {column} -> {identifier}')
        
print("\nSummary of columns:")
for identifier, count in identification_results_count.items():
    print(f'{identifier}: {count}')

Table: N_ProductSubcategory
Column: EnglishProductName -> Name
Column: SpanishProductName -> Name
Column: FrenchProductName -> Name

Table: Updated_phone_number
Column: Phone_Number -> Phone Number
Column: TransformedPhoneNumbe -> Phone Number

Table: Nis_ODBC2

Table: InsuranceData

Table: Department_group
Column: Departmentgroupname -> Name

Table: stg_insuranceData

Table: DW_Employee_SRC
Column: FirstName -> Name
Column: LastName -> Name
Column: MiddleName -> Name
Column: NameStyle -> Name
Column: BirthDate -> DOB
Column: EmailAddress -> Address
Column: Phone -> Phone Number
Column: EmergencyContactName -> Name
Column: EmergencyContactPhone -> Phone Number
Column: DepartmentName -> Name

Table: stage_insuranceData_SCD2

Table: CustomerOrders_YCOPY
Column: NAME -> Name

Table: SuppliesData

Table: Row_Count_Monitor
Column: Table_Name -> Name

Table: Datacustomer
Column: FirstName -> Name
Column: MiddleName -> Name
Column: LastName -> Name
Column: NameStyle -> Name
Column: BirthDate -> DOB
Column: EmailAddress -> Address
Column: AddressLine1 -> Address
Column: AddressLine2 -> Address
Column: Phone -> Phone Number

Table: TempCustomerOrders_Y
Column: NAME -> Name

Table: check_data
Column: FirstName -> Name
Column: MiddleName -> Name
Column: LastName -> Name
Column: NameStyle -> Name
Column: BirthDate -> DOB
Column: EmailAddress -> Address
Column: AddressLine1 -> Address
Column: AddressLine2 -> Address
Column: Phone -> Phone Number

Table: DifferingRows
Column: NAME -> Name

Table: N_Product
Column: EnglishProductName -> Name
Column: SpanishProductName -> Name
Column: FrenchProductName -> Name

Table: QUARTERLY_SALES
Column: EMP_NAME -> Name

Table: EMP_SALES_QTR

Table: TOTALAMOUNT

Table: WEEKLY_SALES_BY_STORE

Table: Y_IndianHolidays

Table: Y_Table_Count
Column: Table_Name -> Name

Table: Nandini_Insurance_Data

Table: tablesrowcount_N
Column: tablename -> Name

Table: Nandu

Table: Nanditha_EMP
Column: NAME -> Name

Table: check_customer
Column: FirstName -> Name
Column: MiddleName -> Name
Column: LastName -> Name
Column: NameStyle -> Name
Column: BirthDate -> DOB
Column: EmailAddress -> Address
Column: AddressLine1 -> Address
Column: AddressLine2 -> Address
Column: Phone -> Phone Number

Table: anu_table
Column: name -> Name
Column: address -> Address
Column: phone -> Phone Number

Table: Insurance_Data

Table: Employee_count_history
Column: Table_name -> Name

Table: Dl_lnd_Customer
Column: FirstName -> Name
Column: MiddleName -> Name
Column: LastName -> Name
Column: NameStyle -> Name
Column: BirthDate -> DOB
Column: EmailAddress -> Address
Column: AddressLine1 -> Address
Column: AddressLine2 -> Address
Column: Phone -> Phone Number

Table: StagingTable

Table: Department
Column: DepartmentGroupName -> Name

Table: Dl_stg_Customer
Column: FirstName -> Name
Column: MiddleName -> Name
Column: LastName -> Name
Column: NameStyle -> Name
Column: BirthDate -> DOB
Column: EmailAddress -> Address
Column: AddressLine1 -> Address
Column: AddressLine2 -> Address
Column: Phone -> Phone Number

Table: YourResultTableName
Column: DepartmentGroupName -> Name

Table: stg_insuranceData_SCD2

Table: Nan

Table: Dl_lnd_InsuranceData

Table: Anu_stg_insuranceData_SCD2

Table: Nis_ODBC5

Table: DL_Stg_Insurance

Table: Yash_ActiveEmployee_12142023
Column: Full_Name -> Name
Column: Outlet_Name -> Name
Column: Phone -> Phone Number

Table: Anu_InsuranceData

Table: Anu_stg_insuranceData

Table: DL_Lnd_InsurancePolicy

Table: BI_ProductCategory
Column: EnglishProductCategoryName -> Name
Column: SpanishProductCategoryName -> Name
Column: FrenchProductCategoryName -> Name

Table: BI_Stg_FoodSales

Table: Differ_table2
Column: DepartmentGroupName -> Name

Table: DW_Stg_Supplies1

Table: Book_Table

Table: DW_Department_SRC
Column: DepartmentGroupName -> Name

Table: FOOD_Table
Column: name -> Name

Table: Differed_table
Column: DW_Departmentgroupname -> Name
Column: DepartmentGroupName -> Name

Table: Supplies_Data_2

Table: Nandini_books

Table: food_xml_info
Column: name -> Name

Table: BOOK_xml_info

Table: BI_Lnd_FoodSales

Table: xml_Nis

Table: BI_Product
Column: EnglishProductName -> Name
Column: SpanishProductName -> Name
Column: FrenchProductName -> Name
Column: ModelName -> Name

Table: BI_ProductSubcategory
Column: EnglishProductSubcategoryName -> Name
Column: SpanishProductSubcategoryName -> Name
Column: FrenchProductSubcategoryName -> Name

Table: NANDINI_FOOD
Column: name -> Name

Table: final_insuranceData_SCD2

Table: ODS_ENHANCED_TRANSACTION
Column: EMPLOYEE_NAME -> Name
Column: TRIM_EMPLOYEE_NAME -> Name

Table: BOOK_xml_Nis

Table: GenericAssignment

Table: DimDate2

Table: FOOD_xml_Nis
Column: name -> Name

Table: nandini_foods
Column: name -> Name

Table: Lnddd_FoodSales

Table: CustomerOrders_Y
Column: NAME -> Name

Table: ODS_Nanditha_ENHANCED_TRANSACTION
Column: EMPLOYEE_NAME -> Name
Column: TRIM_EMPLOYEE_NAME -> Name

Table: Count_Table
Column: DepartmentGroupName -> Name

Table: BI_Lndd_FoodSales

Table: Dim_date

Table: ORDERS

Table: Employee_SRC
Column: FirstName -> Name
Column: LastName -> Name
Column: MiddleName -> Name
Column: NameStyle -> Name
Column: BirthDate -> DOB
Column: EmailAddress -> Address
Column: Phone -> Phone Number
Column: EmergencyContactName -> Name
Column: EmergencyContactPhone -> Phone Number
Column: DepartmentName -> Name

Table: N_EMPLOYEE
Column: FIRST_NAME -> Name
Column: LAST_NAME -> Name
Column: PHONE_NUMBER -> Phone Number

Table: comparision_result
Column: COLUMN_NAME -> Name

Table: nandini_insurance

Table: nandu_books

Table: Y_EMP
Column: NAME -> Name

Table: nandu_foods
Column: name -> Name

Table: tablesrowcount
Column: tablename -> Name

Table: GenericAssignment_New
Column: DepartmentGroupName -> Name

Table: Normalizer_Table
Column: Name -> Name
Column: New_Address -> Address
Column: DOB -> DOB

Table: nan_insurance

Table: dw_lnd_suppliesData

Summary of columns:
Name: 14
Address: 1
DOB: 8
Phone Number: 9

In [3]:
import pyodbc
import re

# Define a function to connect to SQL Server and fetch table metadata
def get_table_metadata(server, database, username, password):
    conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'
    conn = pyodbc.connect(conn_str)
    cursor = conn.cursor()

    # Fetch metadata for all tables
    tables_metadata = {}
    cursor.execute("SELECT TABLE_NAME, COLUMN_NAME, DATA_TYPE FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_SCHEMA = 'dbo'")
    for row in cursor.fetchall():
        table_name = row.TABLE_NAME
        column_name = row.COLUMN_NAME
        data_type = row.DATA_TYPE
        if table_name not in tables_metadata:
            tables_metadata[table_name] = []
        tables_metadata[table_name].append({'name': column_name, 'type': data_type})

    conn.close()
    return tables_metadata

# Function to identify specific columns based on regular expressions in column data
def identify_columns(metadata):
    sensitive_patterns = {
        r'\b\d{10}\b': 'Phone Number',
        r'\b\d{1,2}/\d{1,2}/\d{4}\b': 'DOB',  # Pattern for Date of Birth
        r'[A-Za-z\s]+': 'Name',  # Pattern for Name (alphabets and spaces)
        r'\d+\s+[\w\s]+,\s+[\w\s]+\s+\d{5}': 'Address'  # Pattern for Address
    }

    identification_results = {}
    for table, columns in metadata.items():
        identification_results[table] = {}
        for column in columns:
            column_name = column['name']
            identification_results[table][column_name] = {}  # Initialize dictionary for column name
            identification_results[table][column_name]['identifier'] = None  # Initialize identifier as None

    # Establish a new connection for fetching column data
    conn = pyodbc.connect(f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}')
    cursor = conn.cursor()

    for table, columns in metadata.items():
        for column in columns:
            column_name = column['name']
            cursor.execute(f"SELECT [{column_name}] FROM [{table}]")
            rows = cursor.fetchall()
            for row in rows:
                data = row[0]
                for pattern, identifier in sensitive_patterns.items():
                    # Check if any data matches the sensitive pattern
                    if re.search(pattern, str(data), re.IGNORECASE):
                        identification_results[table][column_name]['identifier'] = identifier
                        break  # Move to the next column if a match is found

    conn.close()
    return identification_results

# Example usage
server = 'dmoncloud-sqlserver.database.windows.net'
database = 'SRC'
username = 'nishchay'
password = 'Welcome@2o23!'

metadata = get_table_metadata(server, database, username, password)

identification_results = identify_columns(metadata)

# Print the identification results
for table, columns in identification_results.items():
    print(f'\nTable: {table}')
    for column, info in columns.items():
        identifier = info['identifier']
        print(f'Column: {column} -> Identifier: {identifier}')

Table: N_ProductSubcategory
Column: ProductSubcategoryKey -> Identifier: None
Column: EnglishProductName -> Identifier: None
Column: SpanishProductName -> Identifier: None
Column: FrenchProductName -> Identifier: None

Table: Nis_ODBC2
Column: OrderID -> Identifier: None
Column: OrderDate -> Identifier: None
Column: Region -> Identifier: Name
Column: Rep -> Identifier: Name
Column: Item -> Identifier: Name
Column: Units -> Identifier: None
Column: Unit_Cost -> Identifier: None

Table: InsuranceData
Column: Policy -> Identifier: None
Column: Expiry -> Identifier: None
Column: Location -> Identifier: Name
Column: State -> Identifier: Name
Column: Region -> Identifier: Name
Column: InsuredValue -> Identifier: None
Column: Construction -> Identifier: Name
Column: BusinessType -> Identifier: Name
Column: Earthquake -> Identifier: Name
Column: Flood -> Identifier: Name
Column: Load_date -> Identifier: None

Table: Department_group
Column: DepartmentGroupKey -> Identifier: None
Column: Parentdepartmentgroupkey -> Identifier: None
Column: Departmentgroupname -> Identifier: Name

Table: stg_insuranceData
Column: Policy -> Identifier: None
Column: Expiry -> Identifier: None
Column: Location -> Identifier: Name
Column: State -> Identifier: Name
Column: Region -> Identifier: Name
Column: InsuredValue -> Identifier: None
Column: Construction -> Identifier: Name
Column: BusinessType -> Identifier: Name
Column: Earthquake -> Identifier: Name
Column: Flood -> Identifier: Name
Column: Load_date -> Identifier: None
Column: Active_status -> Identifier: Name

Table: DW_Employee_SRC
Column: EmployeeKey -> Identifier: None
Column: ParentEmployeeKey -> Identifier: Name
Column: EmployeeNationalIDAlternateKey -> Identifier: None
Column: ParentEmployeeNationalIDAlternateKey -> Identifier: Name
Column: SalesTerritoryKey -> Identifier: None
Column: FirstName -> Identifier: Name
Column: LastName -> Identifier: Name
Column: MiddleName -> Identifier: Name
Column: NameStyle -> Identifier: Name
Column: Title -> Identifier: Name
Column: HireDate -> Identifier: None
Column: BirthDate -> Identifier: Name
Column: LoginID -> Identifier: Name
Column: EmailAddress -> Identifier: Name
Column: Phone -> Identifier: Name
Column: MaritalStatus -> Identifier: Name
Column: EmergencyContactName -> Identifier: Name
Column: EmergencyContactPhone -> Identifier: Name
Column: SalariedFlag -> Identifier: None
Column: Gender -> Identifier: Name
Column: PayFrequency -> Identifier: None
Column: BaseRate -> Identifier: None
Column: VacationHours -> Identifier: None
Column: SickLeaveHours -> Identifier: None
Column: CurrentFlag -> Identifier: Name
Column: SalesPersonFlag -> Identifier: None
Column: DepartmentName -> Identifier: Name
Column: StartDate -> Identifier: Name
Column: EndDate -> Identifier: Name
Column: Status -> Identifier: Name
Column: UpdatedDate -> Identifier: None

Table: stage_insuranceData_SCD2
Column: policy_key -> Identifier: None
Column: Policy -> Identifier: None
Column: Expiry -> Identifier: None
Column: Location -> Identifier: Name
Column: State -> Identifier: Name
Column: Region -> Identifier: Name
Column: InsuredValue -> Identifier: None
Column: Construction -> Identifier: Name
Column: BusinessType -> Identifier: Name
Column: Earthquake -> Identifier: Name
Column: Flood -> Identifier: Name
Column: Load_date -> Identifier: None
Column: Active_status -> Identifier: Name

Table: CustomerOrders_YCOPY
Column: CUST_ID -> Identifier: None
Column: NAME -> Identifier: Name
Column: ORDER_DATE -> Identifier: Name
Column: Order_Status -> Identifier: Name

Table: SuppliesData
Column: OrderID -> Identifier: None
Column: OrderDate -> Identifier: None
Column: Region -> Identifier: Name
Column: Rep -> Identifier: Name
Column: Item -> Identifier: Name
Column: Units -> Identifier: None
Column: Unit_Cost -> Identifier: None
Column: Total -> Identifier: None
Column: Load_Date -> Identifier: None

Table: Row_Count_Monitor
Column: Table_Name -> Identifier: None
Column: Run_Date -> Identifier: None
Column: Total_Count -> Identifier: None
Column: Status -> Identifier: None

Table: Datacustomer
Column: CustomerKey -> Identifier: None
Column: GeographyKey -> Identifier: None
Column: CustomerAlternateKey -> Identifier: Name
Column: Title -> Identifier: Name
Column: FirstName -> Identifier: Name
Column: MiddleName -> Identifier: Name
Column: LastName -> Identifier: Name
Column: NameStyle -> Identifier: None
Column: BirthDate -> Identifier: None
Column: MaritalStatus -> Identifier: Name
Column: Suffix -> Identifier: Name
Column: Gender -> Identifier: Name
Column: EmailAddress -> Identifier: Name
Column: YearlyIncome -> Identifier: None
Column: TotalChildren -> Identifier: None
Column: NumberChildrenAtHome -> Identifier: None
Column: EnglishEducation -> Identifier: Name
Column: SpanishEducation -> Identifier: Name
Column: FrenchEducation -> Identifier: Name
Column: EnglishOccupation -> Identifier: Name
Column: SpanishOccupation -> Identifier: Name
Column: FrenchOccupation -> Identifier: Name
Column: HouseOwnerFlag -> Identifier: Name
Column: NumberCarsOwned -> Identifier: None
Column: AddressLine1 -> Identifier: Name
Column: AddressLine2 -> Identifier: Name
Column: Phone -> Identifier: Name
Column: DateFirstPurchase -> Identifier: None
Column: CommuteDistance -> Identifier: Name

Table: TempCustomerOrders_Y
Column: CUST_ID -> Identifier: None
Column: NAME -> Identifier: Name
Column: ORDER_DATE -> Identifier: Name
Column: Order_Status -> Identifier: Name

Table: check_data
Column: CustomerKey -> Identifier: None
Column: GeographyKey -> Identifier: None
Column: CustomerAlternateKey -> Identifier: Name
Column: Title -> Identifier: Name
Column: FirstName -> Identifier: Name
Column: MiddleName -> Identifier: Name
Column: LastName -> Identifier: Name
Column: NameStyle -> Identifier: None
Column: BirthDate -> Identifier: None
Column: MaritalStatus -> Identifier: Name
Column: Suffix -> Identifier: Name
Column: Gender -> Identifier: Name
Column: EmailAddress -> Identifier: Name
Column: YearlyIncome -> Identifier: None
Column: TotalChildren -> Identifier: None
Column: NumberChildrenAtHome -> Identifier: None
Column: EnglishEducation -> Identifier: Name
Column: SpanishEducation -> Identifier: Name
Column: FrenchEducation -> Identifier: Name
Column: EnglishOccupation -> Identifier: Name
Column: SpanishOccupation -> Identifier: Name
Column: FrenchOccupation -> Identifier: Name
Column: HouseOwnerFlag -> Identifier: Name
Column: NumberCarsOwned -> Identifier: None
Column: AddressLine1 -> Identifier: Name
Column: AddressLine2 -> Identifier: Name
Column: Phone -> Identifier: Name
Column: DateFirstPurchase -> Identifier: None
Column: CommuteDistance -> Identifier: Name
Column: Load_date -> Identifier: Name

Table: DifferingRows
Column: CUST_ID -> Identifier: None
Column: NAME -> Identifier: Name
Column: ORDER_DATE -> Identifier: Name
Column: Order_Status -> Identifier: Name

Table: N_Product
Column: ProductSubcategoryKey -> Identifier: None
Column: EnglishProductName -> Identifier: Name
Column: SpanishProductName -> Identifier: Name
Column: FrenchProductName -> Identifier: Name

Table: QUARTERLY_SALES
Column: EMP_ID -> Identifier: None
Column: EMP_NAME -> Identifier: Name
Column: EMP_REGION -> Identifier: None
Column: Q1_SALES -> Identifier: None
Column: Q2_SALES -> Identifier: None
Column: Q3_SALES -> Identifier: None
Column: Q4_SALES -> Identifier: None
Column: YEARLY_TOTAL -> Identifier: None

Table: EMP_SALES_QTR
Column: column1 -> Identifier: Name
Column: column2 -> Identifier: Name
Column: column3 -> Identifier: Name
Column: column4 -> Identifier: Name
Column: column5 -> Identifier: Name
Column: column6 -> Identifier: Name
Column: column7 -> Identifier: Name

Table: TOTALAMOUNT
Column: column1 -> Identifier: Name
Column: column2 -> Identifier: Name

Table: WEEKLY_SALES_BY_STORE
Column: STORE_ID -> Identifier: None
Column: LOCATION -> Identifier: Name
Column: TRANSACTIONS -> Identifier: None
Column: REVENUE -> Identifier: None
Column: AVG_TRANS_REV -> Identifier: None

Table: Y_IndianHolidays
Column: HolidayDate -> Identifier: None

Table: Y_Table_Count
Column: Table_Name -> Identifier: Name
Column: Count -> Identifier: None
Column: Run_Date -> Identifier: Name
Column: Count_change_flag -> Identifier: None

Table: Nandini_Insurance_Data
Column: Policy -> Identifier: None
Column: Expiry -> Identifier: None
Column: Location -> Identifier: Name
Column: State -> Identifier: Name
Column: Region -> Identifier: Name
Column: InsuredValue -> Identifier: None
Column: Construction -> Identifier: Name
Column: BusinessType -> Identifier: Name
Column: Earthquake -> Identifier: Name
Column: Flood -> Identifier: Name

Table: tablesrowcount_N
Column: Seq -> Identifier: None
Column: row_count -> Identifier: None
Column: run_date -> Identifier: None
Column: tablename -> Identifier: None

Table: Nandu
Column: Policy -> Identifier: None
Column: Expiry -> Identifier: None
Column: Location -> Identifier: Name
Column: State -> Identifier: Name
Column: Region -> Identifier: Name
Column: InsuredValue -> Identifier: None
Column: Construction -> Identifier: Name
Column: BusinessType -> Identifier: Name
Column: Earthquake -> Identifier: Name
Column: Flood -> Identifier: Name

Table: Nanditha_EMP
Column: EMPLOYEE_ID -> Identifier: None
Column: NAME -> Identifier: Name
Column: SALARY -> Identifier: None
Column: DEPARTMENT_ID -> Identifier: None
Column: IS_ACTIVE -> Identifier: Name
Column: CREATED_DATE -> Identifier: Name
Column: MODIFIED_DATE -> Identifier: Name

Table: anu_table
Column: name -> Identifier: Name
Column: address -> Identifier: Name
Column: phone -> Identifier: Phone Number

Table: Insurance_Data
Column: Policy -> Identifier: None
Column: Expiry -> Identifier: None
Column: Location -> Identifier: Name
Column: State -> Identifier: Name
Column: Region -> Identifier: Name
Column: InsuredValue -> Identifier: None
Column: Construction -> Identifier: Name
Column: BusinessType -> Identifier: Name
Column: Earthquake -> Identifier: Name
Column: Flood -> Identifier: Name
Column: Load_date -> Identifier: None

Table: Employee_count_history
Column: Id -> Identifier: None
Column: Rundate -> Identifier: None
Column: Table_name -> Identifier: None
Column: Count_current -> Identifier: None
Column: Count_previous -> Identifier: None

Table: Dl_lnd_Customer
Column: CustomerKey -> Identifier: None
Column: GeographyKey -> Identifier: None
Column: CustomerAlternateKey -> Identifier: Name
Column: Title -> Identifier: Name
Column: FirstName -> Identifier: Name
Column: MiddleName -> Identifier: Name
Column: LastName -> Identifier: Name
Column: NameStyle -> Identifier: None
Column: BirthDate -> Identifier: None
Column: MaritalStatus -> Identifier: Name
Column: Suffix -> Identifier: Name
Column: Gender -> Identifier: Name
Column: EmailAddress -> Identifier: Name
Column: YearlyIncome -> Identifier: None
Column: TotalChildren -> Identifier: None
Column: NumberChildrenAtHome -> Identifier: None
Column: EnglishEducation -> Identifier: Name
Column: SpanishEducation -> Identifier: Name
Column: FrenchEducation -> Identifier: Name
Column: EnglishOccupation -> Identifier: Name
Column: SpanishOccupation -> Identifier: Name
Column: FrenchOccupation -> Identifier: Name
Column: HouseOwnerFlag -> Identifier: Name
Column: NumberCarsOwned -> Identifier: None
Column: AddressLine1 -> Identifier: Name
Column: AddressLine2 -> Identifier: Name
Column: Phone -> Identifier: Phone Number
Column: DateFirstPurchase -> Identifier: None
Column: CommuteDistance -> Identifier: Name
Column: Load_date -> Identifier: None

Table: StagingTable
Column: OrderID -> Identifier: None
Column: OrderDate -> Identifier: None
Column: Region -> Identifier: None
Column: Rep -> Identifier: None
Column: Item -> Identifier: None
Column: Units -> Identifier: None
Column: UnitCost -> Identifier: None

Table: Department
Column: DepartmentGroupKey -> Identifier: None
Column: ParentDepartmentGroupKey -> Identifier: None
Column: DepartmentGroupName -> Identifier: Name
Column: DOB -> Identifier: None

Table: Dl_stg_Customer
Column: CustomerKey -> Identifier: None
Column: GeographyKey -> Identifier: None
Column: CustomerAlternateKey -> Identifier: Name
Column: Title -> Identifier: Name
Column: FirstName -> Identifier: Name
Column: MiddleName -> Identifier: Name
Column: LastName -> Identifier: Name
Column: NameStyle -> Identifier: None
Column: BirthDate -> Identifier: None
Column: MaritalStatus -> Identifier: Name
Column: Suffix -> Identifier: Name
Column: Gender -> Identifier: Name
Column: EmailAddress -> Identifier: Name
Column: YearlyIncome -> Identifier: None
Column: TotalChildren -> Identifier: None
Column: NumberChildrenAtHome -> Identifier: None
Column: EnglishEducation -> Identifier: Name
Column: SpanishEducation -> Identifier: Name
Column: FrenchEducation -> Identifier: Name
Column: EnglishOccupation -> Identifier: Name
Column: SpanishOccupation -> Identifier: Name
Column: FrenchOccupation -> Identifier: Name
Column: HouseOwnerFlag -> Identifier: Name
Column: NumberCarsOwned -> Identifier: None
Column: AddressLine1 -> Identifier: Name
Column: AddressLine2 -> Identifier: Name
Column: Phone -> Identifier: Phone Number
Column: DateFirstPurchase -> Identifier: None
Column: CommuteDistance -> Identifier: None
Column: Load_date -> Identifier: None

Table: YourResultTableName
Column: DepartmentGroupKey -> Identifier: None
Column: ParentDepartmentGroupKey -> Identifier: None
Column: DepartmentGroupName -> Identifier: Name

Table: stg_insuranceData_SCD2
Column: policy_key -> Identifier: None
Column: Policy -> Identifier: None
Column: Expiry -> Identifier: None
Column: Location -> Identifier: Name
Column: State -> Identifier: Name
Column: Region -> Identifier: Name
Column: InsuredValue -> Identifier: None
Column: Construction -> Identifier: Name
Column: BusinessType -> Identifier: Name
Column: Earthquake -> Identifier: Name
Column: Flood -> Identifier: Name
Column: Load_date -> Identifier: None
Column: Active_status -> Identifier: Name

Table: Nan
Column: Policy -> Identifier: None
Column: Expiry -> Identifier: None
Column: Location -> Identifier: Name
Column: State -> Identifier: Name
Column: Region -> Identifier: Name
Column: InsuredValue -> Identifier: None
Column: Construction -> Identifier: Name
Column: BusinessType -> Identifier: Name
Column: Earthquake -> Identifier: Name
Column: Flood -> Identifier: Name

Table: Dl_lnd_InsuranceData
Column: Policy -> Identifier: None
Column: Expiry -> Identifier: None
Column: Location -> Identifier: Name
Column: State -> Identifier: Name
Column: Region -> Identifier: Name
Column: InsuredValue -> Identifier: None
Column: Construction -> Identifier: Name
Column: BusinessType -> Identifier: Name
Column: Earthquake -> Identifier: Name
Column: Flood -> Identifier: Name

Table: Anu_stg_insuranceData_SCD2
Column: policy_key -> Identifier: None
Column: Policy -> Identifier: None
Column: Expiry -> Identifier: None
Column: Location -> Identifier: Name
Column: State -> Identifier: Name
Column: Region -> Identifier: Name
Column: InsuredValue -> Identifier: None
Column: Construction -> Identifier: Name
Column: BusinessType -> Identifier: Name
Column: Earthquake -> Identifier: Name
Column: Flood -> Identifier: Name
Column: Load_date -> Identifier: None
Column: Active_status -> Identifier: Name

Table: Nis_ODBC5
Column: OrderID -> Identifier: None
Column: OrderDate -> Identifier: None
Column: Region -> Identifier: Name
Column: Rep -> Identifier: Name
Column: Item -> Identifier: Name
Column: Units -> Identifier: None
Column: Unit_Cost -> Identifier: None

Table: DL_Stg_Insurance
Column: Policy_Number -> Identifier: None
Column: Expiry_Date -> Identifier: None
Column: Location_Type -> Identifier: None
Column: State -> Identifier: None
Column: Region -> Identifier: None
Column: Insured_Value -> Identifier: None
Column: Construction_Type -> Identifier: None
Column: Business_Type -> Identifier: None
Column: Earthquake_Coverage -> Identifier: None
Column: Flood_Coverage -> Identifier: None
Column: Active_Status -> Identifier: None
Column: Load_Date -> Identifier: None

Table: Anu_InsuranceData
Column: Policy -> Identifier: None
Column: Expiry -> Identifier: None
Column: Location -> Identifier: Name
Column: State -> Identifier: Name
Column: Region -> Identifier: Name
Column: InsuredValue -> Identifier: None
Column: Construction -> Identifier: Name
Column: BusinessType -> Identifier: Name
Column: Earthquake -> Identifier: Name
Column: Flood -> Identifier: Name
Column: Load_date -> Identifier: None

Table: Anu_stg_insuranceData
Column: Policy -> Identifier: None
Column: Expiry -> Identifier: None
Column: Location -> Identifier: Name
Column: State -> Identifier: Name
Column: Region -> Identifier: Name
Column: InsuredValue -> Identifier: None
Column: Construction -> Identifier: Name
Column: BusinessType -> Identifier: Name
Column: Earthquake -> Identifier: Name
Column: Flood -> Identifier: Name
Column: Load_date -> Identifier: None
Column: Active_status -> Identifier: Name

Table: DL_Lnd_InsurancePolicy
Column: PolicyNumber -> Identifier: None
Column: ExpiryDate -> Identifier: None
Column: LocationType -> Identifier: Name
Column: State -> Identifier: Name
Column: Region -> Identifier: Name
Column: InsuredValue -> Identifier: None
Column: ConstructionType -> Identifier: Name
Column: BusinessType -> Identifier: Name
Column: EarthquakeCoverage -> Identifier: Name
Column: FloodCoverage -> Identifier: Name
Column: LoadDate -> Identifier: Name

Table: BI_ProductCategory
Column: ProductCategoryKey -> Identifier: None
Column: ProductCategoryAlternateKey -> Identifier: None
Column: EnglishProductCategoryName -> Identifier: Name
Column: SpanishProductCategoryName -> Identifier: Name
Column: FrenchProductCategoryName -> Identifier: Name

Table: BI_Stg_FoodSales
Column: ID -> Identifier: Name
Column: Date -> Identifier: None
Column: Region -> Identifier: Name
Column: City -> Identifier: Name
Column: Category -> Identifier: Name
Column: Product -> Identifier: Name
Column: Qty -> Identifier: None
Column: UnitPrice -> Identifier: None
Column: Load_date -> Identifier: None
Column: Total_sales -> Identifier: None

Table: Differ_table2
Column: DepartmentGroupKey -> Identifier: None
Column: ParentDepartmentGroupKey -> Identifier: None
Column: DepartmentGroupName -> Identifier: Name

Table: DW_Stg_Supplies1
Column: OrderDate -> Identifier: None
Column: Region -> Identifier: Name
Column: Rep -> Identifier: Name
Column: Item -> Identifier: Name
Column: Units -> Identifier: None
Column: Unit_Cost -> Identifier: None
Column: loading_date -> Identifier: None
Column: Total -> Identifier: None

Table: Book_Table
Column: id -> Identifier: Name
Column: author -> Identifier: Name
Column: title -> Identifier: Name
Column: genre -> Identifier: Name
Column: price -> Identifier: None
Column: publish_date -> Identifier: None
Column: description -> Identifier: Name

Table: DW_Department_SRC
Column: DepartmentGroupKey -> Identifier: None
Column: ParentDepartmentGroupKey -> Identifier: Name
Column: DepartmentGroupName -> Identifier: Name
Column: update_date -> Identifier: None

Table: FOOD_Table
Column: name -> Identifier: Name
Column: price -> Identifier: None
Column: description -> Identifier: Name
Column: calories -> Identifier: None

Table: Differed_table
Column: DW_DepartmentGroupKey -> Identifier: None
Column: DW_Parentdepartmentgroupkey -> Identifier: None
Column: DW_Departmentgroupname -> Identifier: None
Column: DepartmentGroupKey -> Identifier: None
Column: ParentDepartmentGroupKey -> Identifier: None
Column: DepartmentGroupName -> Identifier: None

Table: Supplies_Data_2
Column: OrderID -> Identifier: None
Column: OrderDate -> Identifier: None
Column: Region -> Identifier: Name
Column: Rep -> Identifier: Name
Column: Item -> Identifier: Name
Column: Units -> Identifier: None
Column: Unit_Cost -> Identifier: None

Table: Nandini_books
Column: ID -> Identifier: Name

In [4]:
import pyodbc
import re

# Define a function to connect to SQL Server and fetch table metadata
def get_table_metadata(server, database, username, password):
    conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'
    conn = pyodbc.connect(conn_str)
    cursor = conn.cursor()

    # Fetch metadata for all tables
    tables_metadata = {}
    cursor.execute("SELECT TABLE_NAME, COLUMN_NAME, DATA_TYPE FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_SCHEMA = 'dbo'")
    for row in cursor.fetchall():
        table_name = row.TABLE_NAME
        column_name = row.COLUMN_NAME
        data_type = row.DATA_TYPE
        if table_name not in tables_metadata:
            tables_metadata[table_name] = []
        tables_metadata[table_name].append({'name': column_name, 'type': data_type})

    conn.close()
    return tables_metadata

# Function to identify specific columns based on regular expressions in column data
def identify_columns(metadata):
    sensitive_patterns = {
        r'\d{10}': 'Phone Number',
        r'\b\d{1,2}/\d{1,2}/\d{4}\b': 'DOB',  # Pattern for Date of Birth
        r'[A-Za-z\s]+': 'Name',  # Pattern for Name (alphabets and spaces)
        r'\d+\s+[\w\s]+,\s+\w+\s+\d+': 'Address'  # Pattern for Address
    }

    identification_results = {}
    for table, columns in metadata.items():
        identification_results[table] = {}
        for column in columns:
            column_name = column['name']
            # Initialize identification as 'Other' by default
            #identification_results[table][column_name] = 'Other'
        
        # Fetch all column data for the table
        cursor.execute(f"SELECT * FROM [{table}]")
        rows = cursor.fetchall()
        
        for row in rows:
            for column_info, data in zip(cursor.description, row):
                column_name = column_info[0]  # Accessing the first element of the tuple, which should be the column name
                for pattern, identifier in sensitive_patterns.items():
                    # Check if the column name matches a pattern
                    if re.match(r'(address|dob|phone number|name)', column_name, re.IGNORECASE):
                        # Check if any data matches the sensitive pattern
                        if re.search(pattern, str(data), re.IGNORECASE):
                            identification_results[table][column_name] = identifier
                            break  # Move to the next column if a match is found

    return identification_results

# Example usage
server = 'dmoncloud-sqlserver.database.windows.net'
database = 'SRC'
username = 'nishchay'
password = 'Welcome@2o23!'

metadata = get_table_metadata(server, database, username, password)

# Establish a new connection for fetching column data
conn = pyodbc.connect(f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}')
cursor = conn.cursor()

identification_results = identify_columns(metadata)

# Print the identification results
for table, columns in identification_results.items():
    print(f'\nTable: {table}')
    for column, identifier in columns.items():
        print(f'Column: {column} -> {identifier}')

# Close the connection
conn.close()

Table: N_ProductSubcategory

Table: Nis_ODBC2

Table: InsuranceData

Table: Department_group

Table: stg_insuranceData

Table: DW_Employee_SRC
Column: NameStyle -> Name

Table: stage_insuranceData_SCD2

Table: CustomerOrders_YCOPY
Column: NAME -> Name

Table: SuppliesData

Table: Row_Count_Monitor

Table: Datacustomer
Column: AddressLine1 -> Name
Column: AddressLine2 -> Name

Table: TempCustomerOrders_Y
Column: NAME -> Name

Table: check_data
Column: AddressLine1 -> Name
Column: AddressLine2 -> Name

Table: DifferingRows
Column: NAME -> Name

Table: N_Product

Table: QUARTERLY_SALES

Table: EMP_SALES_QTR

Table: TOTALAMOUNT

Table: WEEKLY_SALES_BY_STORE

Table: Y_IndianHolidays

Table: Y_Table_Count

Table: Nandini_Insurance_Data

Table: tablesrowcount_N

Table: Nandu

Table: Nanditha_EMP
Column: NAME -> Name

Table: anu_table
Column: name -> Name
Column: address -> Name

Table: Insurance_Data

Table: Employee_count_history

Table: Dl_lnd_Customer
Column: AddressLine1 -> Name
Column: AddressLine2 -> Name

Table: StagingTable

Table: Department

Table: Dl_stg_Customer
Column: AddressLine1 -> Name
Column: AddressLine2 -> Name

Table: YourResultTableName

Table: stg_insuranceData_SCD2

Table: Nan

Table: Dl_lnd_InsuranceData

Table: Anu_stg_insuranceData_SCD2

Table: Nis_ODBC5

Table: DL_Stg_Insurance

Table: Anu_InsuranceData

Table: Anu_stg_insuranceData

Table: DL_Lnd_InsurancePolicy

Table: BI_ProductCategory

Table: BI_Stg_FoodSales

Table: Differ_table2

Table: DW_Stg_Supplies1

Table: Book_Table

Table: DW_Department_SRC

Table: FOOD_Table
Column: name -> Name

Table: Differed_table

Table: Supplies_Data_2

Table: Nandini_books

Table: food_xml_info
Column: name -> Name

Table: BOOK_xml_info

Table: BI_Lnd_FoodSales

Table: xml_Nis

Table: BI_Product

Table: BI_ProductSubcategory

Table: NANDINI_FOOD
Column: name -> Name

Table: final_insuranceData_SCD2

Table: ODS_ENHANCED_TRANSACTION

Table: BOOK_xml_Nis

Table: GenericAssignment

Table: DimDate2

Table: FOOD_xml_Nis
Column: name -> Name

Table: nandini_foods
Column: name -> Name

Table: Lnddd_FoodSales

Table: CustomerOrders_Y
Column: NAME -> Name

Table: ODS_Nanditha_ENHANCED_TRANSACTION

Table: Count_Table

Table: BI_Lndd_FoodSales

Table: Dim_date

Table: ORDERS

Table: Employee_SRC
Column: NameStyle -> Name

Table: N_EMPLOYEE

Table: comparision_result

Table: nandini_insurance

Table: nandu_books

Table: Y_EMP
Column: NAME -> Name

Table: nandu_foods
Column: name -> Name

Table: tablesrowcount

Table: GenericAssignment_New

Table: Normalizer_Table
Column: Name -> Name

Table: nan_insurance

Table: dw_lnd_suppliesData

In [4]:
import pyodbc
import re

# Define a function to connect to SQL Server and fetch table metadata
def get_table_metadata(server, database, username, password):
    conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'
    conn = pyodbc.connect(conn_str)
    cursor = conn.cursor()

    # Fetch metadata for all tables
    tables_metadata = {}
    cursor.execute("SELECT TABLE_NAME, COLUMN_NAME, DATA_TYPE FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_SCHEMA = 'dbo'")
    for row in cursor.fetchall():
        table_name = row.TABLE_NAME
        column_name = row.COLUMN_NAME
        data_type = row.DATA_TYPE
        if table_name not in tables_metadata:
            tables_metadata[table_name] = []
        tables_metadata[table_name].append({'name': column_name, 'type': data_type})

    conn.close()
    return tables_metadata

# Function to identify specific columns based on regular expressions in column data
def identify_columns(metadata):
    sensitive_patterns = {
        r'\b\d{2}[-/]\d{2}[-/]\d{4}\b': 'Date',
        r'\d{10}': 'Phone Number',
        r'\b\d{1,2}/\d{1,2}/\d{4}\b': 'DOB',  # Pattern for Date of Birth
        r'[A-Za-z\s]+': 'Name'  # Pattern for Name (alphabets and spaces)
    }

    identification_results = {}
    for table, columns in metadata.items():
        identification_results[table] = {}
        for column in columns:
            column_name = column['name']
            identification_results[table][column_name] = {}  # Initialize dictionary for column name
            identification_results[table][column_name]['identifier'] = None  # Initialize identifier as None
        
        # Fetch all column data for the table
        cursor.execute(f"SELECT * FROM [{table}]")
        rows = cursor.fetchall()
        
        for row in rows:
            for column_name, data in zip(cursor.description, row):
                for pattern, identifier in sensitive_patterns.items():
                    # Check if any data matches the sensitive pattern
                    if re.search(pattern, str(data), re.IGNORECASE):
                        identification_results[table][column_name[0]]['identifier'] = identifier
                        break  # Move to the next column if a match is found

    return identification_results

# Example usage
server = 'dmoncloud-sqlserver.database.windows.net'
database = 'SRC'
username = 'nishchay'
password = 'Welcome@2o23!'

metadata = get_table_metadata(server, database, username, password)

# Establish a new connection for fetching column data
conn = pyodbc.connect(f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}')
cursor = conn.cursor()

identification_results = identify_columns(metadata)

# Count the occurrences of each identifier
total_address_columns = 0
total_dob_columns = 0
total_name_columns = 0
total_phone_number_columns = 0

for table, columns in identification_results.items():
    for column, info in columns.items():
        identifier = info['identifier']
        if identifier == 'Address':
            total_address_columns += 1
        elif identifier == 'DOB':
            total_dob_columns += 1
        elif identifier == 'Name':
            total_name_columns += 1
        elif identifier == 'Phone Number':
            total_phone_number_columns += 1

# Print the summary
print(f"Total Address Columns: {total_address_columns}")
print(f"Total DOB Columns: {total_dob_columns}")
print(f"Total Name Columns: {total_name_columns}")
print(f"Total Phone Number Columns: {total_phone_number_columns}")

# Close the connection
conn.close()

Total Address Columns: 0
Total DOB Columns: 0
Total Name Columns: 419
Total Phone Number Columns: 14

In [4]:
import pyodbc
import re

# Define a function to connect to SQL Server and fetch table metadata
def get_table_metadata(server, database, username, password):
    conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'
    conn = pyodbc.connect(conn_str)
    cursor = conn.cursor()

    # Fetch metadata for all tables
    tables_metadata = {}
    cursor.execute("SELECT TABLE_NAME, COLUMN_NAME, DATA_TYPE FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_SCHEMA = 'dbo'")
    for row in cursor.fetchall():
        table_name = row.TABLE_NAME
        column_name = row.COLUMN_NAME
        data_type = row.DATA_TYPE
        if table_name not in tables_metadata:
            tables_metadata[table_name] = []
        tables_metadata[table_name].append({'name': column_name, 'type': data_type})

    conn.close()
    return tables_metadata

# Function to identify specific columns based on regular expressions in column data
def identify_columns(metadata):
    sensitive_patterns = {
        r'\d{10}': 'Phone Number',
        r'\b\d{1,2}/\d{1,2}/\d{4}\b': 'DOB',  # Pattern for Date of Birth
        r'[A-Za-z\s]+': 'Name',  # Pattern for Name (alphabets and spaces)
        r'\d+\s+[\w\s]+,\s+\w+\s+\d+': 'Address'  # Pattern for Address
    }
    sensitive_keywords = {
        'dob': 'DOB',  # Keywords indicating Date of Birth column
        'address': 'Address',  # Keywords indicating Address column
        'phoneNumber': 'Phone Number',
        'name':'Name'
    }

    identification_results = {}
    for table, columns in metadata.items():
        identification_results[table] = {}
        for column in columns:
            column_name = column['name']
            identification_results[table][column_name] = {'identifier': None}  # Initialize identifier as None
        
        # Fetch all column data for the table
        cursor.execute(f"SELECT * FROM [{table}]")
        rows = cursor.fetchall()
        
        for row in rows:
            for column_name, data in zip(cursor.description, row):
                for pattern, identifier in sensitive_patterns.items():
                    # Check if any data matches the sensitive pattern
                    if re.search(pattern, str(data), re.IGNORECASE):
                        identification_results[table][column_name[0]]['identifier'] = identifier
                        break  # Move to the next column if a match is found
                # Check for sensitive keywords in column names
                for keyword, identifier in sensitive_keywords.items():
                    if keyword.lower() in column_name[0].lower():
                        identification_results[table][column_name[0]]['identifier'] = identifier

    return identification_results

# Example usage
server = 'dmoncloud-sqlserver.database.windows.net'
database = 'SRC'
username = 'nishchay'
password = 'Welcome@2o23!'

metadata = get_table_metadata(server, database, username, password)

# Establish a new connection for fetching column data
conn = pyodbc.connect(f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}')
cursor = conn.cursor()

identification_results = identify_columns(metadata)

# Print the identification results
for table, columns in identification_results.items():
    print(f'\nTable: {table}')
    for column, info in columns.items():
        identifier = info['identifier']
        if identifier:
            print(f'Column: {column} -> Identifier: {identifier}')

# Close the connection
conn.close()

Table: N_ProductSubcategory

Table: Nis_ODBC2

Table: InsuranceData

Table: Department_group
Column: Departmentgroupname -> Identifier: Name

Table: stg_insuranceData

Table: DW_Employee_SRC
Column: FirstName -> Identifier: Name
Column: LastName -> Identifier: Name
Column: MiddleName -> Identifier: Name
Column: NameStyle -> Identifier: Name
Column: EmailAddress -> Identifier: Address
Column: EmergencyContactName -> Identifier: Name
Column: DepartmentName -> Identifier: Name

Table: stage_insuranceData_SCD2

Table: CustomerOrders_YCOPY
Column: NAME -> Identifier: Name

Table: SuppliesData

Table: Row_Count_Monitor

Table: Datacustomer
Column: FirstName -> Identifier: Name
Column: MiddleName -> Identifier: Name
Column: LastName -> Identifier: Name
Column: NameStyle -> Identifier: Name
Column: EmailAddress -> Identifier: Address
Column: AddressLine1 -> Identifier: Address
Column: AddressLine2 -> Identifier: Address

Table: TempCustomerOrders_Y
Column: NAME -> Identifier: Name

Table: check_data
Column: FirstName -> Identifier: Name
Column: MiddleName -> Identifier: Name
Column: LastName -> Identifier: Name
Column: NameStyle -> Identifier: Name
Column: EmailAddress -> Identifier: Address
Column: AddressLine1 -> Identifier: Address
Column: AddressLine2 -> Identifier: Address

Table: DifferingRows
Column: NAME -> Identifier: Name

Table: N_Product
Column: EnglishProductName -> Identifier: Name
Column: SpanishProductName -> Identifier: Name
Column: FrenchProductName -> Identifier: Name

Table: QUARTERLY_SALES
Column: EMP_NAME -> Identifier: Name

Table: EMP_SALES_QTR
Column: column4 -> Identifier: Phone Number
Column: column5 -> Identifier: Phone Number
Column: column6 -> Identifier: Phone Number
Column: column7 -> Identifier: Phone Number

Table: TOTALAMOUNT

Table: WEEKLY_SALES_BY_STORE

Table: Y_IndianHolidays

Table: Y_Table_Count
Column: Table_Name -> Identifier: Name

Table: Nandini_Insurance_Data

Table: tablesrowcount_N

Table: Nandu

Table: Nanditha_EMP
Column: NAME -> Identifier: Name

Table: anu_table
Column: name -> Identifier: Name
Column: address -> Identifier: Address
Column: phone -> Identifier: Phone Number

Table: Insurance_Data

Table: Employee_count_history

Table: Dl_lnd_Customer
Column: FirstName -> Identifier: Name
Column: MiddleName -> Identifier: Name
Column: LastName -> Identifier: Name
Column: NameStyle -> Identifier: Name
Column: EmailAddress -> Identifier: Address
Column: AddressLine1 -> Identifier: Address
Column: AddressLine2 -> Identifier: Address
Column: Phone -> Identifier: Phone Number

Table: StagingTable

Table: Department
Column: DepartmentGroupName -> Identifier: Name
Column: DOB -> Identifier: DOB

Table: Dl_stg_Customer
Column: FirstName -> Identifier: Name
Column: MiddleName -> Identifier: Name
Column: LastName -> Identifier: Name
Column: NameStyle -> Identifier: Name
Column: EmailAddress -> Identifier: Address
Column: AddressLine1 -> Identifier: Address
Column: AddressLine2 -> Identifier: Address
Column: Phone -> Identifier: Phone Number

Table: YourResultTableName
Column: DepartmentGroupName -> Identifier: Name

Table: stg_insuranceData_SCD2

Table: Nan

Table: Dl_lnd_InsuranceData

Table: Anu_stg_insuranceData_SCD2

Table: Nis_ODBC5

Table: DL_Stg_Insurance

Table: Anu_InsuranceData

Table: Anu_stg_insuranceData

Table: DL_Lnd_InsurancePolicy

Table: BI_ProductCategory
Column: EnglishProductCategoryName -> Identifier: Name
Column: SpanishProductCategoryName -> Identifier: Name
Column: FrenchProductCategoryName -> Identifier: Name

Table: BI_Stg_FoodSales
Column: Total_sales -> Identifier: Phone Number

Table: Differ_table2
Column: DepartmentGroupName -> Identifier: Name

Table: DW_Stg_Supplies1

Table: Book_Table

Table: DW_Department_SRC
Column: DepartmentGroupName -> Identifier: Name

Table: FOOD_Table
Column: name -> Identifier: Name

Table: Differed_table

Table: Supplies_Data_2
Column: Unit_Cost -> Identifier: Phone Number

Table: Nandini_books

Table: food_xml_info
Column: name -> Identifier: Name

Table: BOOK_xml_info

Table: BI_Lnd_FoodSales

Table: xml_Nis

Table: BI_Product
Column: EnglishProductName -> Identifier: Name
Column: SpanishProductName -> Identifier: Name
Column: FrenchProductName -> Identifier: Name
Column: StandardCost -> Identifier: Phone Number
Column: ListPrice -> Identifier: Phone Number
Column: Weight -> Identifier: Phone Number
Column: DealerPrice -> Identifier: Phone Number
Column: ModelName -> Identifier: Name
Column: LargePhoto -> Identifier: Phone Number

Table: BI_ProductSubcategory
Column: EnglishProductSubcategoryName -> Identifier: Name
Column: SpanishProductSubcategoryName -> Identifier: Name
Column: FrenchProductSubcategoryName -> Identifier: Name

Table: NANDINI_FOOD
Column: name -> Identifier: Name

Table: final_insuranceData_SCD2

Table: ODS_ENHANCED_TRANSACTION
Column: EMPLOYEE_NAME -> Identifier: Name
Column: TRIM_EMPLOYEE_NAME -> Identifier: Name

Table: BOOK_xml_Nis

Table: GenericAssignment

Table: DimDate2

Table: FOOD_xml_Nis
Column: name -> Identifier: Name

Table: nandini_foods
Column: name -> Identifier: Name

Table: Lnddd_FoodSales

Table: CustomerOrders_Y
Column: NAME -> Identifier: Name

Table: ODS_Nanditha_ENHANCED_TRANSACTION
Column: EMPLOYEE_NAME -> Identifier: Name
Column: TRIM_EMPLOYEE_NAME -> Identifier: Name

Table: Count_Table
Column: DepartmentGroupName -> Identifier: Name

Table: BI_Lndd_FoodSales

Table: Dim_date

Table: ORDERS
Column: SHIPMENTTRACKINGNO -> Identifier: Phone Number

Table: Employee_SRC
Column: FirstName -> Identifier: Name
Column: LastName -> Identifier: Name
Column: MiddleName -> Identifier: Name
Column: NameStyle -> Identifier: Name
Column: EmailAddress -> Identifier: Address
Column: EmergencyContactName -> Identifier: Name
Column: DepartmentName -> Identifier: Name

Table: N_EMPLOYEE
Column: FIRST_NAME -> Identifier: Name
Column: LAST_NAME -> Identifier: Name

Table: comparision_result
Column: COLUMN_NAME -> Identifier: Name

Table: nandini_insurance

Table: nandu_books

Table: Y_EMP
Column: NAME -> Identifier: Name

Table: nandu_foods
Column: name -> Identifier: Name

Table: tablesrowcount
Column: tablename -> Identifier: Name

Table: GenericAssignment_New
Column: DepartmentGroupName -> Identifier: Name

Table: Normalizer_Table
Column: Name -> Identifier: Name
Column: New_Address -> Identifier: Address
Column: DOB -> Identifier: DOB

Table: nan_insurance

Table: dw_lnd_suppliesData

In [8]:
import pyodbc
import re

# Define a function to connect to SQL Server and fetch table metadata
def get_table_metadata(server, database, username, password):
    conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'
    conn = pyodbc.connect(conn_str)
    cursor = conn.cursor()

    # Fetch metadata for all tables
    tables_metadata = {}
    cursor.execute("SELECT TABLE_NAME, COLUMN_NAME, DATA_TYPE FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_SCHEMA = 'dbo'")
    for row in cursor.fetchall():
        table_name = row.TABLE_NAME
        column_name = row.COLUMN_NAME
        data_type = row.DATA_TYPE
        if table_name not in tables_metadata:
            tables_metadata[table_name] = []
        tables_metadata[table_name].append({'name': column_name, 'type': data_type})

    conn.close()
    return tables_metadata

# Function to identify specific columns based on regular expressions in column data
def identify_columns(metadata):
    sensitive_patterns = {
        r'^\(\d{3}\) \d{3}-\d{4}$': 'Phone Number',
        r'\b\d{1,2}/\d{1,2}/\d{4}\b': 'DOB',  # Pattern for Date of Birth
        r'\d+\s+[\w\s]+,\s+\w+\s+\d+': 'Address',  # Pattern for Address
        r"^[A-Za-z]+(?:[ '-][A-Za-z]+)*$":'Name'
    }
#     sensitive_keywords = {
#         'dob': 'DOB',  # Keywords indicating Date of Birth column
#         'address': 'Address',  # Keywords indicating Address column
#         'phoneNumber': 'Phone Number',
#         'name': 'Name'
#     }

    identification_results = {}
    for table, columns in metadata.items():
        identification_results[table] = {}
        for column in columns:
            column_name = column['name']
            identification_results[table][column_name] = {'identifier': None}  # Initialize identifier as None
        
        # Fetch all column data for the table
        cursor.execute(f"SELECT * FROM [{table}]")
        rows = cursor.fetchall()
        
        for row in rows:
            for column_name, data in zip(cursor.description, row):
                for pattern, identifier in sensitive_patterns.items():
                    # Check if any data matches the sensitive pattern
                    if re.search(pattern, str(data), re.IGNORECASE):
                        identification_results[table][column_name[0]]['identifier'] = identifier
                        break  # Move to the next column if a match is found
                # Check for sensitive keywords in column names
                for keyword, identifier in sensitive_keywords.items():
                    if keyword.lower() in column_name[0].lower():
                        identification_results[table][column_name[0]]['identifier'] = identifier

    return identification_results

# Example usage
server = 'dmoncloud-sqlserver.database.windows.net'
database = 'SRC'
username = 'nishchay'
password = 'Welcome@2o23!'

metadata = get_table_metadata(server, database, username, password)

# Establish a new connection for fetching column data
conn = pyodbc.connect(f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}')
cursor = conn.cursor()

identification_results = identify_columns(metadata)

# Collect identified columns counts
total_address_columns = 0
total_dob_columns = 0
total_name_columns = 0
total_phone_number_columns = 0

for table, columns in identification_results.items():
    for column, info in columns.items():
        identifier = info['identifier']
        if identifier == 'Address':
            total_address_columns += 1
        elif identifier == 'DOB':
            total_dob_columns += 1
        elif identifier == 'Name':
            total_name_columns += 1
        elif identifier == 'Phone Number':
            total_phone_number_columns += 1

# Print the summary
print(f"Total Address Columns: {total_address_columns}")
print(f"Total DOB Columns: {total_dob_columns}")
print(f"Total Name Columns: {total_name_columns}")
print(f"Total Phone Number Columns: {total_phone_number_columns}")

# Close the connection
conn.close()

NameError: name 'sensitive_keywords' is not defined

In [9]:
import pyodbc
import re

# Define a function to connect to SQL Server and fetch table metadata
def get_table_metadata(server, database, username, password):
    conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'
    conn = pyodbc.connect(conn_str)
    cursor = conn.cursor()

    # Fetch metadata for all tables
    tables_metadata = {}
    cursor.execute("SELECT TABLE_NAME, COLUMN_NAME, DATA_TYPE FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_SCHEMA = 'dbo'")
    for row in cursor.fetchall():
        table_name = row.TABLE_NAME
        column_name = row.COLUMN_NAME
        data_type = row.DATA_TYPE
        if table_name not in tables_metadata:
            tables_metadata[table_name] = []
        tables_metadata[table_name].append({'name': column_name, 'type': data_type})

    conn.close()
    return tables_metadata

# Function to identify specific columns based on regular expressions in column data
def identify_columns(metadata):
    sensitive_patterns = {
        r'^\(\d{3}\) \d{3}-\d{4}$': 'Phone Number',
        r'\b\d{1,2}/\d{1,2}/\d{4}\b': 'DOB',  # Pattern for Date of Birth
        r'\d+\s+[\w\s]+,\s+\w+\s+\d+': 'Address',  # Pattern for Address
        r'[A-Za-z\s]+': 'Name',  # Pattern for Name (alphabets and spaces)
        r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b': 'Email'  # Pattern for Email

    }

    identification_results = {}
    for table, columns in metadata.items():
        identification_results[table] = {}
        for column in columns:
            column_name = column['name']
            identification_results[table][column_name] = {'identifier': None}  # Initialize identifier as None

        # Fetch all column data for the table
        cursor.execute(f"SELECT * FROM [{table}]")
        rows = cursor.fetchall()

        for row in rows:
            for column_name, data in zip(cursor.description, row):
                for pattern, identifier in sensitive_patterns.items():
                    # Check if any data matches the sensitive pattern
                    if re.search(pattern, str(data), re.IGNORECASE):
                        identification_results[table][column_name[0]]['identifier'] = identifier
                        break  # Move to the next column if a match is found

    return identification_results

# Example usage
server = 'dmoncloud-sqlserver.database.windows.net'
database = 'SRC'
username = 'nishchay'
password = 'Welcome@2o23!'

metadata = get_table_metadata(server, database, username, password)

# Establish a new connection for fetching column data
conn = pyodbc.connect(f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}')
cursor = conn.cursor()

identification_results = identify_columns(metadata)

# Print the identification results
for table, columns in identification_results.items():
    print(f'\nTable: {table}')
    for column, info in columns.items():
        identifier = info['identifier']
        if identifier:
            print(f'Column: {column} -> Identifier: {identifier}')

# Close the connection
conn.close()

Table: N_ProductSubcategory

Table: Nis_ODBC2
Column: Region -> Identifier: Name
Column: Rep -> Identifier: Name
Column: Item -> Identifier: Name

Table: InsuranceData
Column: Location -> Identifier: Name
Column: State -> Identifier: Name
Column: Region -> Identifier: Name
Column: Construction -> Identifier: Name
Column: BusinessType -> Identifier: Name
Column: Earthquake -> Identifier: Name
Column: Flood -> Identifier: Name

Table: Department_group
Column: Departmentgroupname -> Identifier: Name

Table: stg_insuranceData
Column: Location -> Identifier: Name
Column: State -> Identifier: Name
Column: Region -> Identifier: Name
Column: Construction -> Identifier: Name
Column: BusinessType -> Identifier: Name
Column: Earthquake -> Identifier: Name
Column: Flood -> Identifier: Name
Column: Active_status -> Identifier: Name

Table: DW_Employee_SRC
Column: ParentEmployeeKey -> Identifier: Name
Column: ParentEmployeeNationalIDAlternateKey -> Identifier: Name
Column: FirstName -> Identifier: Name
Column: LastName -> Identifier: Name
Column: MiddleName -> Identifier: Name
Column: NameStyle -> Identifier: Name
Column: Title -> Identifier: Name
Column: BirthDate -> Identifier: Name
Column: LoginID -> Identifier: Name
Column: EmailAddress -> Identifier: Name
Column: Phone -> Identifier: Name
Column: MaritalStatus -> Identifier: Name
Column: EmergencyContactName -> Identifier: Name
Column: EmergencyContactPhone -> Identifier: Name
Column: Gender -> Identifier: Name
Column: CurrentFlag -> Identifier: Name
Column: DepartmentName -> Identifier: Name
Column: StartDate -> Identifier: Name
Column: EndDate -> Identifier: Name
Column: Status -> Identifier: Name

Table: stage_insuranceData_SCD2
Column: Location -> Identifier: Name
Column: State -> Identifier: Name
Column: Region -> Identifier: Name
Column: Construction -> Identifier: Name
Column: BusinessType -> Identifier: Name
Column: Earthquake -> Identifier: Name
Column: Flood -> Identifier: Name
Column: Active_status -> Identifier: Name

Table: CustomerOrders_YCOPY
Column: NAME -> Identifier: Name
Column: ORDER_DATE -> Identifier: Name
Column: Order_Status -> Identifier: Name

Table: SuppliesData
Column: Region -> Identifier: Name
Column: Rep -> Identifier: Name
Column: Item -> Identifier: Name

Table: Row_Count_Monitor

Table: Datacustomer
Column: CustomerAlternateKey -> Identifier: Name
Column: Title -> Identifier: Name
Column: FirstName -> Identifier: Name
Column: MiddleName -> Identifier: Name
Column: LastName -> Identifier: Name
Column: MaritalStatus -> Identifier: Name
Column: Suffix -> Identifier: Name
Column: Gender -> Identifier: Name
Column: EmailAddress -> Identifier: Name
Column: EnglishEducation -> Identifier: Name
Column: SpanishEducation -> Identifier: Name
Column: FrenchEducation -> Identifier: Name
Column: EnglishOccupation -> Identifier: Name
Column: SpanishOccupation -> Identifier: Name
Column: FrenchOccupation -> Identifier: Name
Column: HouseOwnerFlag -> Identifier: Name
Column: AddressLine1 -> Identifier: Name
Column: AddressLine2 -> Identifier: Name
Column: Phone -> Identifier: Name
Column: CommuteDistance -> Identifier: Name

Table: TempCustomerOrders_Y
Column: NAME -> Identifier: Name
Column: ORDER_DATE -> Identifier: Name
Column: Order_Status -> Identifier: Name

Table: check_data
Column: CustomerAlternateKey -> Identifier: Name
Column: Title -> Identifier: Name
Column: FirstName -> Identifier: Name
Column: MiddleName -> Identifier: Name
Column: LastName -> Identifier: Name
Column: MaritalStatus -> Identifier: Name
Column: Suffix -> Identifier: Name
Column: Gender -> Identifier: Name
Column: EmailAddress -> Identifier: Name
Column: EnglishEducation -> Identifier: Name
Column: SpanishEducation -> Identifier: Name
Column: FrenchEducation -> Identifier: Name
Column: EnglishOccupation -> Identifier: Name
Column: SpanishOccupation -> Identifier: Name
Column: FrenchOccupation -> Identifier: Name
Column: HouseOwnerFlag -> Identifier: Name
Column: AddressLine1 -> Identifier: Name
Column: AddressLine2 -> Identifier: Name
Column: Phone -> Identifier: Name
Column: CommuteDistance -> Identifier: Name
Column: Load_date -> Identifier: Name

Table: DifferingRows
Column: NAME -> Identifier: Name
Column: ORDER_DATE -> Identifier: Name
Column: Order_Status -> Identifier: Name

Table: N_Product
Column: EnglishProductName -> Identifier: Name
Column: SpanishProductName -> Identifier: Name
Column: FrenchProductName -> Identifier: Name

Table: QUARTERLY_SALES
Column: EMP_NAME -> Identifier: Name

Table: EMP_SALES_QTR
Column: column1 -> Identifier: Name
Column: column2 -> Identifier: Name
Column: column3 -> Identifier: Name
Column: column4 -> Identifier: Phone Number
Column: column5 -> Identifier: Phone Number
Column: column6 -> Identifier: Phone Number
Column: column7 -> Identifier: Phone Number

Table: TOTALAMOUNT
Column: column1 -> Identifier: Name
Column: column2 -> Identifier: Name

Table: WEEKLY_SALES_BY_STORE
Column: LOCATION -> Identifier: Name

Table: Y_IndianHolidays

Table: Y_Table_Count
Column: Table_Name -> Identifier: Name
Column: Run_Date -> Identifier: Name

Table: Nandini_Insurance_Data
Column: Location -> Identifier: Name
Column: State -> Identifier: Name
Column: Region -> Identifier: Name
Column: Construction -> Identifier: Name
Column: BusinessType -> Identifier: Name
Column: Earthquake -> Identifier: Name
Column: Flood -> Identifier: Name

Table: tablesrowcount_N

Table: Nandu
Column: Location -> Identifier: Name
Column: State -> Identifier: Name
Column: Region -> Identifier: Name
Column: Construction -> Identifier: Name
Column: BusinessType -> Identifier: Name
Column: Earthquake -> Identifier: Name
Column: Flood -> Identifier: Name

Table: Nanditha_EMP
Column: NAME -> Identifier: Name
Column: IS_ACTIVE -> Identifier: Name
Column: CREATED_DATE -> Identifier: Name
Column: MODIFIED_DATE -> Identifier: Name

Table: anu_table
Column: name -> Identifier: Name
Column: address -> Identifier: Name
Column: phone -> Identifier: Phone Number

Table: Insurance_Data
Column: Location -> Identifier: Name
Column: State -> Identifier: Name
Column: Region -> Identifier: Name
Column: Construction -> Identifier: Name
Column: BusinessType -> Identifier: Name
Column: Earthquake -> Identifier: Name
Column: Flood -> Identifier: Name

Table: Employee_count_history

Table: Dl_lnd_Customer
Column: CustomerAlternateKey -> Identifier: Name
Column: Title -> Identifier: Name
Column: FirstName -> Identifier: Name
Column: MiddleName -> Identifier: Name
Column: LastName -> Identifier: Name
Column: MaritalStatus -> Identifier: Name
Column: Suffix -> Identifier: Name
Column: Gender -> Identifier: Name
Column: EmailAddress -> Identifier: Name
Column: EnglishEducation -> Identifier: Name
Column: SpanishEducation -> Identifier: Name
Column: FrenchEducation -> Identifier: Name
Column: EnglishOccupation -> Identifier: Name
Column: SpanishOccupation -> Identifier: Name
Column: FrenchOccupation -> Identifier: Name
Column: HouseOwnerFlag -> Identifier: Name
Column: AddressLine1 -> Identifier: Name
Column: AddressLine2 -> Identifier: Name
Column: Phone -> Identifier: Phone Number
Column: CommuteDistance -> Identifier: Name

Table: StagingTable

Table: Department
Column: DepartmentGroupName -> Identifier: Name

Table: Dl_stg_Customer
Column: CustomerAlternateKey -> Identifier: Name
Column: Title -> Identifier: Name
Column: FirstName -> Identifier: Name
Column: MiddleName -> Identifier: Name
Column: LastName -> Identifier: Name
Column: MaritalStatus -> Identifier: Name
Column: Suffix -> Identifier: Name
Column: Gender -> Identifier: Name
Column: EmailAddress -> Identifier: Name
Column: EnglishEducation -> Identifier: Name
Column: SpanishEducation -> Identifier: Name
Column: FrenchEducation -> Identifier: Name
Column: EnglishOccupation -> Identifier: Name
Column: SpanishOccupation -> Identifier: Name
Column: FrenchOccupation -> Identifier: Name
Column: HouseOwnerFlag -> Identifier: Name
Column: AddressLine1 -> Identifier: Name
Column: AddressLine2 -> Identifier: Name
Column: Phone -> Identifier: Phone Number

Table: YourResultTableName
Column: DepartmentGroupName -> Identifier: Name

Table: test
Column: field1 -> Identifier: Name
Column: field3 -> Identifier: Name
Column: field5 -> Identifier: Phone Number
Column: field6 -> Identifier: Name

Table: stg_insuranceData_SCD2
Column: Location -> Identifier: Name
Column: State -> Identifier: Name
Column: Region -> Identifier: Name
Column: Construction -> Identifier: Name
Column: BusinessType -> Identifier: Name
Column: Earthquake -> Identifier: Name
Column: Flood -> Identifier: Name
Column: Active_status -> Identifier: Name

Table: Nan
Column: Location -> Identifier: Name
Column: State -> Identifier: Name
Column: Region -> Identifier: Name
Column: Construction -> Identifier: Name
Column: BusinessType -> Identifier: Name
Column: Earthquake -> Identifier: Name
Column: Flood -> Identifier: Name

Table: Dl_lnd_InsuranceData
Column: Location -> Identifier: Name
Column: State -> Identifier: Name
Column: Region -> Identifier: Name
Column: Construction -> Identifier: Name
Column: BusinessType -> Identifier: Name
Column: Earthquake -> Identifier: Name
Column: Flood -> Identifier: Name

Table: Anu_stg_insuranceData_SCD2
Column: Location -> Identifier: Name
Column: State -> Identifier: Name
Column: Region -> Identifier: Name
Column: Construction -> Identifier: Name
Column: BusinessType -> Identifier: Name
Column: Earthquake -> Identifier: Name
Column: Flood -> Identifier: Name
Column: Active_status -> Identifier: Name

Table: Nis_ODBC5
Column: Region -> Identifier: Name
Column: Rep -> Identifier: Name
Column: Item -> Identifier: Name

Table: DL_Stg_Insurance

Table: Anu_InsuranceData
Column: Location -> Identifier: Name
Column: State -> Identifier: Name
Column: Region -> Identifier: Name
Column: Construction -> Identifier: Name
Column: BusinessType -> Identifier: Name
Column: Earthquake -> Identifier: Name
Column: Flood -> Identifier: Name

Table: Anu_stg_insuranceData
Column: Location -> Identifier: Name
Column: State -> Identifier: Name
Column: Region -> Identifier: Name
Column: Construction -> Identifier: Name
Column: BusinessType -> Identifier: Name
Column: Earthquake -> Identifier: Name
Column: Flood -> Identifier: Name
Column: Active_status -> Identifier: Name

Table: DL_Lnd_InsurancePolicy
Column: LocationType -> Identifier: Name
Column: State -> Identifier: Name
Column: Region -> Identifier: Name
Column: ConstructionType -> Identifier: Name
Column: BusinessType -> Identifier: Name
Column: EarthquakeCoverage -> Identifier: Name
Column: FloodCoverage -> Identifier: Name
Column: LoadDate -> Identifier: Name

Table: BI_ProductCategory
Column: EnglishProductCategoryName -> Identifier: Name
Column: SpanishProductCategoryName -> Identifier: Name
Column: FrenchProductCategoryName -> Identifier: Name

Table: BI_Stg_FoodSales
Column: ID -> Identifier: Name
Column: Region -> Identifier: Name
Column: City -> Identifier: Name
Column: Category -> Identifier: Name
Column: Product -> Identifier: Name
Column: Total_sales -> Identifier: Phone Number

Table: Differ_table2
Column: DepartmentGroupName -> Identifier: Name

Table: DW_Stg_Supplies1
Column: Region -> Identifier: Name
Column: Rep -> Identifier: Name
Column: Item -> Identifier: Name

Table: Book_Table
Column: id -> Identifier: Name
Column: author -> Identifier: Name
Column: title -> Identifier: Name
Column: genre -> Identifier: Name
Column: description -> Identifier: Name

Table: DW_Department_SRC
Column: ParentDepartmentGroupKey -> Identifier: Name
Column: DepartmentGroupName -> Identifier: Name

Table: FOOD_Table
Column: name -> Identifier: Name
Column: description -> Identifier: Name

Table: Differed_table

Table: Supplies_Data_2
Column: Region -> Identifier: Name
Column: Rep -> Identifier: Name
Column: Item -> Identifier: Name
Column: Unit_Cost -> Identifier: Phone Number

Table: Nandini_books
Column: ID -> Identifier: Name
Column: AUTHOR -> Identifier: Name
Column: TITLE -> Identifier: Name
Column: GENRE -> Identifier: Name
Column: DESCRIPTION -> Identifier: Name

Table: food_xml_info
Column: name -> Identifier: Name
Column: description -> Identifier: Name

Table: BOOK_xml_info
Column: id -> Identifier: Name
Column: author -> Identifier: Name
Column: title -> Identifier: Name
Column: genre -> Identifier: Name
Column: description -> Identifier: Name

Table: BI_Lnd_FoodSales
Column: ID -> Identifier: Name
Column: Region -> Identifier: Name
Column: City -> Identifier: Name
Column: Category -> Identifier: Name
Column: Product -> Identifier: Name

Table: xml_Nis
Column: id -> Identifier: Name
Column: author -> Identifier: Name
Column: title -> Identifier: Name
Column: genre -> Identifier: Name
Column: description -> Identifier: Name

Table: BI_Product
Column: ProductAlternateKey -> Identifier: Name
Column: ProductSubcategoryKey -> Identifier: Name
Column: WeightUnitMeasureCode -> Identifier: Name
Column: SizeUnitMeasureCode -> Identifier: Name
Column: EnglishProductName -> Identifier: Name
Column: SpanishProductName -> Identifier: Name
Column: FrenchProductName -> Identifier: Name
Column: StandardCost -> Identifier: Phone Number
Column: Color -> Identifier: Name
Column: ListPrice -> Identifier: Phone Number
Column: Size -> Identifier: Name
Column: SizeRange -> Identifier: Name
Column: Weight -> Identifier: Phone Number
Column: ProductLine -> Identifier: Name
Column: DealerPrice -> Identifier: Phone Number
Column: Class -> Identifier: Name
Column: Style -> Identifier: Name
Column: ModelName -> Identifier: Name
Column: LargePhoto -> Identifier: Phone Number
Column: EnglishDescription -> Identifier: Name
Column: FrenchDescription -> Identifier: Name
Column: ChineseDescription -> Identifier: Name
Column: ArabicDescription -> Identifier: Name
Column: HebrewDescription -> Identifier: Name
Column: ThaiDescription -> Identifier: Name
Column: GermanDescription -> Identifier: Name
Column: JapaneseDescription -> Identifier: Name
Column: TurkishDescription -> Identifier: Name
Column: StartDate -> Identifier: Name
Column: EndDate -> Identifier: Name
Column: Status -> Identifier: Name

Table: BI_ProductSubcategory
Column: EnglishProductSubcategoryName -> Identifier: Name
Column: SpanishProductSubcategoryName -> Identifier: Name
Column: FrenchProductSubcategoryName -> Identifier: Name

Table: NANDINI_FOOD
Column: name -> Identifier: Name
Column: description -> Identifier: Name

Table: final_insuranceData_SCD2
Column: Location -> Identifier: Name
Column: State -> Identifier: Name
Column: Region -> Identifier: Name
Column: Construction -> Identifier: Name
Column: BusinessType -> Identifier: Name
Column: Earthquake -> Identifier: Name
Column: Flood -> Identifier: Name
Column: Active_status -> Identifier: Name

Table: ODS_ENHANCED_TRANSACTION
Column: PAYMENT_DESC -> Identifier: Name
Column: IN_DEALERSHIP_LOCATION -> Identifier: Name
Column: IN_DEALERSHIP_STATE -> Identifier: Name
Column: IN_DEALERSHIP_REGION -> Identifier: Name
Column: DEALERSHIP_LOCATION -> Identifier: Name
Column: DEALERSHIP_REGION -> Identifier: Name
Column: EMPLOYEE_NAME -> Identifier: Name
Column: POSITION_TYPE -> Identifier: Name
Column: TRIM_EMPLOYEE_NAME -> Identifier: Name
Column: TRIM_POSITION_TYPE -> Identifier: Name
Column: TRANSACTION_DATE -> Identifier: Name

Table: BOOK_xml_Nis
Column: id -> Identifier: Name
Column: author -> Identifier: Name
Column: title -> Identifier: Name
Column: genre -> Identifier: Name
Column: description -> Identifier: Name

Table: GenericAssignment
Column: Region -> Identifier: Name
Column: Rep -> Identifier: Name
Column: Item -> Identifier: Name

Table: DimDate2

Table: FOOD_xml_Nis
Column: name -> Identifier: Name
Column: description -> Identifier: Name

Table: nandini_foods
Column: name -> Identifier: Name
Column: description -> Identifier: Name

Table: Lnddd_FoodSales
Column: ID -> Identifier: Name
Column: Region -> Identifier: Name
Column: City -> Identifier: Name
Column: Category -> Identifier: Name
Column: Product -> Identifier: Name

Table: CustomerOrders_Y
Column: NAME -> Identifier: Name
Column: ORDER_DATE -> Identifier: Name
Column: Order_Status -> Identifier: Name

Table: ODS_Nanditha_ENHANCED_TRANSACTION
Column: EMPLOYEE_NAME -> Identifier: Name
Column: POSITION_TYPE -> Identifier: Name
Column: TRIM_EMPLOYEE_NAME -> Identifier: Name
Column: TRIM_POSITION_TYPE -> Identifier: Name
Column: PAYMENT_DESC -> Identifier: Name
Column: DEALERSHIP_LOCATION -> Identifier: Name
Column: DEALERSHIP_REGION -> Identifier: Name
Column: TRANSACTION_DATE -> Identifier: Name

Table: Count_Table
Column: DepartmentGroupName -> Identifier: Name

Table: BI_Lndd_FoodSales
Column: ID -> Identifier: Name
Column: Region -> Identifier: Name
Column: City -> Identifier: Name
Column: Category -> Identifier: Name
Column: Product -> Identifier: Name
Column: Load_Date -> Identifier: Name

Table: Dim_date

Table: ORDERS
Column: SHIPMENTTRACKINGNO -> Identifier: Name
Column: ORDERSTATUS -> Identifier: Name
Column: PRODUCTDESCRIPTION -> Identifier: Name

Table: Employee_SRC
Column: ParentEmployeeKey -> Identifier: Name
Column: ParentEmployeeNationalIDAlternateKey -> Identifier: Name
Column: FirstName -> Identifier: Name
Column: LastName -> Identifier: Name
Column: MiddleName -> Identifier: Name
Column: NameStyle -> Identifier: Name
Column: Title -> Identifier: Name
Column: BirthDate -> Identifier: Name
Column: LoginID -> Identifier: Name
Column: EmailAddress -> Identifier: Name
Column: Phone -> Identifier: Name
Column: MaritalStatus -> Identifier: Name
Column: EmergencyContactName -> Identifier: Name
Column: EmergencyContactPhone -> Identifier: Name
Column: SalariedFlag -> Identifier: Name
Column: Gender -> Identifier: Name
Column: CurrentFlag -> Identifier: Name
Column: SalesPersonFlag -> Identifier: Name
Column: DepartmentName -> Identifier: Name
Column: StartDate -> Identifier: Name
Column: EndDate -> Identifier: Name
Column: Status -> Identifier: Name

Table: N_EMPLOYEE
Column: FIRST_NAME -> Identifier: Name
Column: LAST_NAME -> Identifier: Name
Column: HIRE_DATE -> Identifier: Name
Column: JOB_ID -> Identifier: Name

Table: comparision_result
Column: COLUMN_NAME -> Identifier: Name
Column: DESCRIPTION -> Identifier: Name

Table: nandini_insurance

Table: nandu_books
Column: ID -> Identifier: Name
Column: AUTHOR -> Identifier: Name
Column: TITLE -> Identifier: Name
Column: GENRE -> Identifier: Name
Column: DESCRIPTION -> Identifier: Name

Table: Y_EMP
Column: NAME -> Identifier: Name
Column: IS_ACTIVE -> Identifier: Name
Column: CREATED_DATE -> Identifier: Name
Column: MODIFIED_DATE -> Identifier: Name

Table: nandu_foods
Column: name -> Identifier: Name
Column: description -> Identifier: Name

Table: tablesrowcount
Column: tablename -> Identifier: Name

Table: GenericAssignment_New
Column: DepartmentGroupName -> Identifier: Name
Column: UpdatedDate -> Identifier: Name

Table: Normalizer_Table
Column: Name -> Identifier: Name
Column: New_Address -> Identifier: Name

Table: nan_insurance
Column: Location -> Identifier: Name
Column: State -> Identifier: Name
Column: Region -> Identifier: Name
Column: Construction -> Identifier: Name
Column: BusinessType -> Identifier: Name
Column: Earthquake -> Identifier: Name
Column: Flood -> Identifier: Name

Table: dw_lnd_suppliesData
Column: Region -> Identifier: Name
Column: Rep -> Identifier: Name
Column: Item -> Identifier: Name
Column: Current_Dates -> Identifier: Name

In [24]:
import pyodbc
import re

# Define a function to connect to SQL Server and fetch table metadata
def get_table_metadata(server, database, username, password):
    conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'
    conn = pyodbc.connect(conn_str)
    cursor = conn.cursor()

    # Fetch metadata for all tables
    tables_metadata = {}
    cursor.execute("SELECT TABLE_NAME, COLUMN_NAME, DATA_TYPE FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_SCHEMA = 'dbo'")
    for row in cursor.fetchall():
        table_name = row.TABLE_NAME
        column_name = row.COLUMN_NAME
        data_type = row.DATA_TYPE
        if table_name not in tables_metadata:
            tables_metadata[table_name] = []
        tables_metadata[table_name].append({'name': column_name, 'type': data_type})

    conn.close()
    return tables_metadata

# Function to identify specific columns based on regular expressions in column data
def identify_columns(metadata):
    sensitive_patterns = {
        r'\d{2,4}-\d{2,4}-\d{2,4}': 'Date',  # Pattern for Date
        r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b': 'Email',  # Pattern for Email
        r'(?<!\d)\b(?:\+\d{1,3}\s?)?(?:\d{1,4}[\s.-]?)?\d{9,12}[\s.-]?\d{9,12}[\s.-]?\d{9,12}\b(?!\d)': 'Phone Number',  # Pattern for Phone Number
        r'\d+\s+\w+.*?,\s*\w+.*?,\s*\w+\s+\d+': 'Address',  # Pattern for Address
        r"[A-Za-z]+(?: [A-Za-z]+)+": 'Name',  # Pattern for Name
    }

    identification_results = {}
    for table, columns in metadata.items():
        identification_results[table] = {}
        for column in columns:
            column_name = column['name']
            # Initialize identification as 'Other' by default
            #identification_results[table][column_name] = 'Other'
        
        # Fetch all column data for the table
        cursor.execute(f"SELECT * FROM [{table}]")
        #cursor.execute(f"SELECT * FROM test")
        rows = cursor.fetchall()
        
        for row in rows:
            for column_name, data in zip(cursor.description, row):
                for pattern, identifier in sensitive_patterns.items():
                    # Check if any data matches the sensitive pattern
                    if re.search(pattern, str(data)):
                        identification_results[table][column_name[0]] = identifier
                        break  # Move to the next column if a match is found

    return identification_results

# Example usage
server = 'dmoncloud-sqlserver.database.windows.net'
database = 'SRC'
username = 'nishchay'
password = 'Welcome@2o23!'

metadata = get_table_metadata(server, database, username, password)

# Establish a new connection for fetching column data
conn = pyodbc.connect(f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}')
cursor = conn.cursor()

identification_results = identify_columns(metadata)

print(f'\nTable: {table}')
    
print(f'Column: {column} -> {identifier}')
# Print the identification results
for table, columns in identification_results.items():
    print(f'\nTable: {table}')
    for column, identifier in columns.items():
        print(f'Column: {column} -> {identifier}')

# Close the connection
conn.close()

Table: dw_lnd_suppliesData
Column: Units -> Name

Table: N_ProductSubcategory

Table: Nis_ODBC2
Column: OrderDate -> Date
Column: Item -> Name

Table: InsuranceData
Column: Expiry -> Date
Column: Load_date -> Date
Column: BusinessType -> Name
Column: Construction -> Name

Table: Department_group
Column: Departmentgroupname -> Name

Table: stg_insuranceData
Column: Expiry -> Date
Column: Load_date -> Date
Column: State -> Name
Column: BusinessType -> Name
Column: Construction -> Name

Table: DW_Employee_SRC
Column: HireDate -> Date
Column: BirthDate -> Date
Column: EmailAddress -> Email
Column: Phone -> Date
Column: EmergencyContactPhone -> Date
Column: StartDate -> Date
Column: UpdatedDate -> Date
Column: EndDate -> Date
Column: Title -> Date
Column: LoginID -> Date
Column: SalesPersonFlag -> Date

Table: stage_insuranceData_SCD2
Column: Expiry -> Date
Column: State -> Name
Column: Load_date -> Date
Column: Construction -> Name
Column: BusinessType -> Name

Table: CustomerOrders_YCOPY
Column: NAME -> Name
Column: Order_Status -> Name

Table: SuppliesData
Column: OrderDate -> Date
Column: Load_Date -> Date
Column: Item -> Name

Table: Row_Count_Monitor

Table: Datacustomer
Column: BirthDate -> Date
Column: EmailAddress -> Email
Column: AddressLine1 -> Name
Column: DateFirstPurchase -> Date
Column: Phone -> Date
Column: EnglishEducation -> Name
Column: SpanishEducation -> Name
Column: EnglishOccupation -> Name
Column: SpanishOccupation -> Name
Column: FrenchEducation -> Name

Table: TempCustomerOrders_Y
Column: NAME -> Name
Column: Order_Status -> Name

Table: check_data
Column: BirthDate -> Date
Column: EmailAddress -> Email
Column: AddressLine1 -> Name
Column: DateFirstPurchase -> Date

Table: DifferingRows
Column: NAME -> Name
Column: Order_Status -> Name

Table: N_Product
Column: EnglishProductName -> Name
Column: SpanishProductName -> Name
Column: FrenchProductName -> Name

Table: QUARTERLY_SALES
Column: EMP_NAME -> Name

Table: EMP_SALES_QTR
Column: column2 -> Name

Table: TOTALAMOUNT

Table: WEEKLY_SALES_BY_STORE
Column: LOCATION -> Name

Table: Y_IndianHolidays
Column: HolidayDate -> Date

Table: Y_Table_Count
Column: Run_Date -> Date

Table: Nandini_Insurance_Data
Column: Expiry -> Date
Column: BusinessType -> Name
Column: Construction -> Name

Table: tablesrowcount_N

Table: Nandu
Column: Expiry -> Date
Column: BusinessType -> Name
Column: Construction -> Name

Table: Nanditha_EMP
Column: CREATED_DATE -> Date
Column: MODIFIED_DATE -> Date

Table: anu_table
Column: name -> Name
Column: address -> Name

Table: Insurance_Data
Column: Expiry -> Date
Column: Load_date -> Date
Column: BusinessType -> Name
Column: Construction -> Name

Table: Employee_count_history

Table: Dl_lnd_Customer
Column: BirthDate -> Date
Column: EmailAddress -> Email
Column: AddressLine1 -> Name
Column: DateFirstPurchase -> Date
Column: Load_date -> Date
Column: Phone -> Date
Column: EnglishEducation -> Name
Column: SpanishEducation -> Name
Column: EnglishOccupation -> Name
Column: SpanishOccupation -> Name
Column: FrenchEducation -> Name

Table: StagingTable

Table: Department
Column: DOB -> Date
Column: DepartmentGroupName -> Name

Table: Dl_stg_Customer
Column: BirthDate -> Date
Column: EmailAddress -> Email
Column: AddressLine1 -> Name
Column: DateFirstPurchase -> Date
Column: Load_date -> Date
Column: EnglishEducation -> Name
Column: SpanishEducation -> Name
Column: EnglishOccupation -> Name
Column: SpanishOccupation -> Name
Column: FrenchEducation -> Name

Table: YourResultTableName
Column: DepartmentGroupName -> Name

Table: test
Column: field3 -> Name
Column: field4 -> Date
Column: field6 -> Email

Table: stg_insuranceData_SCD2
Column: Expiry -> Date
Column: State -> Name
Column: Load_date -> Date
Column: Construction -> Name
Column: BusinessType -> Name

Table: Nan
Column: Expiry -> Date
Column: BusinessType -> Name
Column: Construction -> Name

Table: Dl_lnd_InsuranceData
Column: Expiry -> Date
Column: BusinessType -> Name
Column: Construction -> Name

Table: Anu_stg_insuranceData_SCD2
Column: Expiry -> Date
Column: State -> Name
Column: Construction -> Name
Column: Load_date -> Date
Column: BusinessType -> Name

Table: Nis_ODBC5
Column: OrderDate -> Date
Column: Item -> Name

Table: DL_Stg_Insurance

Table: Anu_InsuranceData
Column: Expiry -> Date
Column: Construction -> Name
Column: Load_date -> Date
Column: BusinessType -> Name

Table: Anu_stg_insuranceData
Column: Expiry -> Date
Column: State -> Name
Column: Construction -> Name
Column: Load_date -> Date
Column: BusinessType -> Name

Table: DL_Lnd_InsurancePolicy
Column: ExpiryDate -> Date
Column: LoadDate -> Date
Column: ConstructionType -> Name
Column: BusinessType -> Name

Table: BI_ProductCategory

Table: BI_Stg_FoodSales
Column: Date -> Date
Column: Product -> Name
Column: Load_date -> Date
Column: City -> Name

Table: Differ_table2
Column: DepartmentGroupName -> Name

Table: DW_Stg_Supplies1
Column: OrderDate -> Date
Column: Item -> Name

Table: Book_Table
Column: title -> Name
Column: publish_date -> Date
Column: description -> Name
Column: genre -> Name

Table: DW_Department_SRC
Column: update_date -> Date
Column: DepartmentGroupName -> Name

Table: FOOD_Table
Column: name -> Name
Column: description -> Name

Table: Differed_table

Table: Supplies_Data_2
Column: OrderDate -> Date
Column: Item -> Name

Table: Nandini_books
Column: TITLE -> Name
Column: PUBLISHER_DATE -> Date
Column: DESCRIPTION -> Name
Column: GENRE -> Name

Table: food_xml_info
Column: name -> Name
Column: description -> Name

Table: BOOK_xml_info
Column: title -> Name
Column: publish_date -> Date
Column: description -> Name
Column: genre -> Name

Table: BI_Lnd_FoodSales
Column: Date -> Date
Column: Product -> Name
Column: Load_Date -> Date
Column: City -> Name

Table: xml_Nis
Column: title -> Name
Column: publish_date -> Date
Column: description -> Name
Column: genre -> Name

Table: BI_Product
Column: EnglishProductName -> Name
Column: StartDate -> Date
Column: ModelName -> Name
Column: EnglishDescription -> Name
Column: FrenchDescription -> Name
Column: GermanDescription -> Name
Column: TurkishDescription -> Name
Column: SpanishProductName -> Name
Column: FrenchProductName -> Name
Column: EndDate -> Date
Column: ArabicDescription -> Name
Column: ChineseDescription -> Name
Column: HebrewDescription -> Name
Column: ThaiDescription -> Name
Column: JapaneseDescription -> Name

Table: BI_ProductSubcategory
Column: EnglishProductSubcategoryName -> Name
Column: SpanishProductSubcategoryName -> Name
Column: FrenchProductSubcategoryName -> Name

Table: NANDINI_FOOD
Column: name -> Name
Column: description -> Name

Table: final_insuranceData_SCD2
Column: Expiry -> Date
Column: Load_date -> Date
Column: State -> Name
Column: BusinessType -> Name
Column: Construction -> Name

Table: ODS_ENHANCED_TRANSACTION
Column: DEALERSHIP_REGION -> Name
Column: EMPLOYEE_NAME -> Name
Column: TRIM_EMPLOYEE_NAME -> Name
Column: TRANSACTION_DATE -> Date
Column: PAYMENT_DESC -> Name
Column: IN_DEALERSHIP_LOCATION -> Name
Column: DEALERSHIP_LOCATION -> Name
Column: IN_DEALERSHIP_STATE -> Name

Table: BOOK_xml_Nis
Column: title -> Name
Column: publish_date -> Date
Column: description -> Name
Column: genre -> Name

Table: GenericAssignment
Column: OrderDate -> Date
Column: Load_Date -> Date
Column: Item -> Name

Table: DimDate2

Table: FOOD_xml_Nis
Column: name -> Name
Column: description -> Name

Table: nandini_foods
Column: name -> Name
Column: description -> Name

Table: Lnddd_FoodSales
Column: Date -> Date
Column: Product -> Name
Column: Load_Date -> Date
Column: City -> Name

Table: CustomerOrders_Y
Column: NAME -> Name
Column: Order_Status -> Name

Table: ODS_Nanditha_ENHANCED_TRANSACTION
Column: EMPLOYEE_NAME -> Name
Column: TRIM_EMPLOYEE_NAME -> Name
Column: TRANSACTION_DATE -> Date
Column: PAYMENT_DESC -> Name

Table: Count_Table
Column: DepartmentGroupName -> Name

Table: BI_Lndd_FoodSales
Column: Date -> Date
Column: Product -> Name
Column: Load_Date -> Date
Column: City -> Name

Table: Dim_date

Table: ORDERS
Column: PRODUCTDESCRIPTION -> Name
Column: ORDERSTATUS -> Name

Table: Employee_SRC
Column: HireDate -> Date
Column: BirthDate -> Date
Column: EmailAddress -> Email
Column: Phone -> Date
Column: EmergencyContactPhone -> Date
Column: StartDate -> Date
Column: UpdatedDate -> Date
Column: EndDate -> Date
Column: Title -> Date
Column: LoginID -> Date

Table: N_EMPLOYEE
Column: LAST_NAME -> Name

Table: comparision_result
Column: COLUMN_NAME -> Name
Column: DESCRIPTION -> Name

Table: nandini_insurance

Table: nandu_books
Column: TITLE -> Name
Column: PUBLISHER_DATE -> Date
Column: DESCRIPTION -> Name
Column: GENRE -> Name

Table: Y_EMP
Column: CREATED_DATE -> Date
Column: MODIFIED_DATE -> Date

Table: nandu_foods
Column: name -> Name
Column: description -> Name

Table: tablesrowcount
Column: run_date -> Date

Table: GenericAssignment_New
Column: UpdatedDate -> Date
Column: DepartmentGroupName -> Name

Table: Normalizer_Table
Column: DOB -> Date
Column: New_Address -> Name

Table: nan_insurance
Column: Construction -> Name

Table: dw_lnd_suppliesData
Column: Item -> Name

In [2]:
import pyodbc
import re

# Define a function to connect to SQL Server and fetch table metadata
def get_table_metadata(server, database, username, password):
    conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'
    conn = pyodbc.connect(conn_str)
    cursor = conn.cursor()

    # Fetch metadata for all tables
    tables_metadata = {}
    cursor.execute("SELECT TABLE_NAME, COLUMN_NAME, DATA_TYPE FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_SCHEMA = 'dbo'")
    for row in cursor.fetchall():
        table_name = row.TABLE_NAME
        column_name = row.COLUMN_NAME
        data_type = row.DATA_TYPE
        if table_name not in tables_metadata:
            tables_metadata[table_name] = []
        tables_metadata[table_name].append({'name': column_name, 'type': data_type})

    conn.close()
    return tables_metadata

# Function to identify specific columns based on regular expressions in column data
def identify_columns(metadata):
    sensitive_patterns = {
        r'\d{2,4}[-/]\d{2}[-/]\d{2,4}': 'Date',  # Pattern for Date
        r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b': 'Email',  # Pattern for Email
        r'\+\d{1,3}(?:\s?\d{10})?': 'Phone Number',  # Pattern for Phone Number
        r'^[^\w\s]\D\d{20,}$': 'Address',  # Pattern for Address
        r"[A-Za-z][.,' '](?: [A-Za-z]+)+": 'Name',  # Pattern for Name
    }

    identification_results = {}
    
    for table, columns in metadata.items():
        identification_results[table] = {}
        for column in columns:
            column_name = column['name']
            # Initialize identification as 'Other' by default
            #identification_results[table][column_name] = 'Other'
        
        # Fetch all column data for the table
        cursor.execute(f"SELECT * FROM [{table}]")
        rows = cursor.fetchall()
        
        for row in rows:
            for column_name, data in zip(cursor.description, row):
                for pattern, identifier in sensitive_patterns.items():
                    # Check if any data matches the sensitive pattern
                    if re.search(pattern, str(data)):
                        identification_results[table][column_name[0]] = identifier
                        break  # Move to the next column if a match is found

    return identification_results

# Example usage
server = 'dmoncloud-sqlserver.database.windows.net'
database = 'SRC'
username = 'nishchay'
password = 'Welcome@2o23!'

metadata = get_table_metadata(server, database, username, password)

# Establish a new connection for fetching column data
conn = pyodbc.connect(f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}')
cursor = conn.cursor()

identification_results = identify_columns(metadata)

# Print the identification results
for table, columns in identification_results.items():
    print(f'\nTable: {table}')
    for column, identifier in columns.items():
        print(f'Column: {column} -> {identifier}')

# Close the connection
conn.close()

Table: N_ProductSubcategory

Table: Nis_ODBC2
Column: OrderDate -> Date

Table: InsuranceData
Column: Expiry -> Date
Column: Load_date -> Date

Table: Department_group

Table: stg_insuranceData
Column: Expiry -> Date
Column: Load_date -> Date

Table: DW_Employee_SRC
Column: HireDate -> Date
Column: BirthDate -> Date
Column: EmailAddress -> Email
Column: StartDate -> Date
Column: UpdatedDate -> Date
Column: EndDate -> Date
Column: Title -> Date
Column: SalesPersonFlag -> Date

Table: stage_insuranceData_SCD2
Column: Expiry -> Date
Column: Load_date -> Date

Table: CustomerOrders_YCOPY

Table: SuppliesData
Column: OrderDate -> Date
Column: Load_Date -> Date

Table: Row_Count_Monitor

Table: Datacustomer
Column: BirthDate -> Date
Column: EmailAddress -> Email
Column: DateFirstPurchase -> Date
Column: AddressLine1 -> Name

Table: TempCustomerOrders_Y

Table: check_data
Column: BirthDate -> Date
Column: EmailAddress -> Email
Column: DateFirstPurchase -> Date

Table: DifferingRows

Table: N_Product

Table: QUARTERLY_SALES

Table: EMP_SALES_QTR

Table: TOTALAMOUNT

Table: WEEKLY_SALES_BY_STORE

Table: Y_IndianHolidays
Column: HolidayDate -> Date

Table: Y_Table_Count
Column: Run_Date -> Date

Table: Nandini_Insurance_Data
Column: Expiry -> Date

Table: tablesrowcount_N

Table: Nandu
Column: Expiry -> Date

Table: Nanditha_EMP
Column: CREATED_DATE -> Date
Column: MODIFIED_DATE -> Date

Table: anu_table

Table: Insurance_Data
Column: Expiry -> Date
Column: Load_date -> Date

Table: Employee_count_history

Table: Dl_lnd_Customer
Column: BirthDate -> Date
Column: EmailAddress -> Email
Column: DateFirstPurchase -> Date
Column: Load_date -> Date
Column: AddressLine1 -> Name

Table: StagingTable

Table: Department
Column: DOB -> Date

Table: Dl_stg_Customer
Column: BirthDate -> Date
Column: EmailAddress -> Email
Column: DateFirstPurchase -> Date
Column: Load_date -> Date
Column: AddressLine1 -> Name

Table: YourResultTableName

Table: test
Column: field3 -> Name
Column: field4 -> Date
Column: field5 -> Phone Number
Column: field6 -> Email

Table: stg_insuranceData_SCD2
Column: Expiry -> Date
Column: Load_date -> Date

Table: Nan
Column: Expiry -> Date

Table: Dl_lnd_InsuranceData
Column: Expiry -> Date

Table: Anu_stg_insuranceData_SCD2
Column: Expiry -> Date
Column: Load_date -> Date

Table: Nis_ODBC5
Column: OrderDate -> Date

Table: DL_Stg_Insurance

Table: Anu_InsuranceData
Column: Expiry -> Date
Column: Load_date -> Date

Table: Anu_stg_insuranceData
Column: Expiry -> Date
Column: Load_date -> Date

Table: DL_Lnd_InsurancePolicy
Column: ExpiryDate -> Date
Column: LoadDate -> Date

Table: BI_ProductCategory

Table: BI_Stg_FoodSales
Column: Date -> Date
Column: Load_date -> Date

Table: Differ_table2

Table: DW_Stg_Supplies1
Column: OrderDate -> Date

Table: Book_Table
Column: author -> Name
Column: publish_date -> Date
Column: description -> Name

Table: DW_Department_SRC
Column: update_date -> Date

Table: FOOD_Table
Column: description -> Name

Table: Differed_table

Table: Supplies_Data_2
Column: OrderDate -> Date

Table: Nandini_books
Column: AUTHOR -> Name
Column: PUBLISHER_DATE -> Date
Column: DESCRIPTION -> Name

Table: food_xml_info
Column: description -> Name

Table: BOOK_xml_info
Column: author -> Name
Column: publish_date -> Date
Column: description -> Name

Table: BI_Lnd_FoodSales
Column: Date -> Date
Column: Load_Date -> Date

Table: xml_Nis
Column: author -> Name
Column: publish_date -> Date
Column: description -> Name

Table: BI_Product
Column: StartDate -> Date
Column: EnglishDescription -> Name
Column: FrenchDescription -> Name
Column: GermanDescription -> Name
Column: TurkishDescription -> Name
Column: EnglishProductName -> Name
Column: EndDate -> Date
Column: SpanishProductName -> Name
Column: FrenchProductName -> Name

Table: BI_ProductSubcategory

Table: NANDINI_FOOD
Column: description -> Name

Table: final_insuranceData_SCD2
Column: Expiry -> Date
Column: Load_date -> Date

Table: ODS_ENHANCED_TRANSACTION
Column: TRANSACTION_DATE -> Date

Table: BOOK_xml_Nis
Column: author -> Name
Column: publish_date -> Date
Column: description -> Name

Table: GenericAssignment
Column: OrderDate -> Date
Column: Load_Date -> Date

Table: DimDate2

Table: FOOD_xml_Nis
Column: description -> Name

Table: nandini_foods
Column: description -> Name

Table: Lnddd_FoodSales
Column: Date -> Date
Column: Load_Date -> Date

Table: CustomerOrders_Y

Table: ODS_Nanditha_ENHANCED_TRANSACTION
Column: TRANSACTION_DATE -> Date

Table: Count_Table

Table: BI_Lndd_FoodSales
Column: Date -> Date
Column: Load_Date -> Date

Table: Dim_date

Table: ORDERS

Table: Employee_SRC
Column: HireDate -> Date
Column: BirthDate -> Date
Column: EmailAddress -> Email
Column: StartDate -> Date
Column: UpdatedDate -> Date
Column: EndDate -> Date
Column: Title -> Date

Table: N_EMPLOYEE

Table: comparision_result

Table: nandini_insurance

Table: nandu_books
Column: AUTHOR -> Name
Column: PUBLISHER_DATE -> Date
Column: DESCRIPTION -> Name

Table: Y_EMP
Column: CREATED_DATE -> Date
Column: MODIFIED_DATE -> Date

Table: nandu_foods
Column: description -> Name

Table: tablesrowcount
Column: run_date -> Date

Table: GenericAssignment_New
Column: UpdatedDate -> Date

Table: Normalizer_Table
Column: DOB -> Date

Table: nan_insurance

Table: dw_lnd_suppliesData
Column: OrderDate -> Date